
<div class="tab-pane" id="material_store_content">
    <iframe id="material_store_iframe" src="http://localhost:3000" style="width: 100%;height: 90vh;overflow: hidden;" scrolling="auto" frameBorder="0"></iframe>
</div>
