<svg id="calibration_svg" style="max-width: 60vh; border:1px solid lightgray" width="100%" height="100%" viewBox="0 0 512 384" data-bind="attr: {viewBox: calSvgViewBox()}">
    <defs>
        <symbol id="cross">
            <path data-bind="attr: {d: svgCross()}" fill="none" />
        </symbol>
    </defs>
    <g id="obj_height_scale">
        <!-- filter:url(#contrast)" -->
        <image style="cursor:crosshair;"
           onerror="console.warn(event, this, 'reloading '+this.href); var src=this.href; this.href=''; setTimeout(function(){ this.href=src; }, 100); return false;"
           data-bind="attr: {href: cornerCalImgUrl(), width:calImgWidth(), height:calImgHeight() }, click: userClick" />
    </g>
    <g id="corners"
       class="calibration_click_indicator"
       style="pointer-events: none;"
       data-bind="attr: { visibility: correctedMarkersVisibility() }">
        <use id="click_NW" href="#cross" x="-100" y="-100" />
        <use id="click_NE" href="#cross" x="-100" y="-100" />
        <use id="click_SE" href="#cross" x="-100" y="-100" />
        <use id="click_SW" href="#cross" x="-100" y="-100" />
    </g>
    <g id="cropped_view_corners" class="calibration_click_indicator"
       transform="scale(1)"
       data-bind="attr: { transform: zMarkersTransform(), visibility: croppedMarkersVisibility() }">
       <use href="#cross" stroke="blue" data-bind="attr: { x: -crossSize(),                         y: -crossSize() }" />
       <use href="#cross" stroke="blue" data-bind="attr: { x: calImgWidth()-crossSize(), y: -crossSize() }" />
       <use href="#cross" stroke="blue" data-bind="attr: { x: -crossSize(),                         y: calImgHeight()-crossSize() }" />
       <use href="#cross" stroke="blue" data-bind="attr: { x: calImgWidth()-crossSize(), y: calImgHeight()-crossSize() }" />
    </g>
</svg>
<div>
    <div style="margin-bottom:1em;">
        <a class="accordion-toggle" data-bind="click:calibration.loadUndistortedPicture, visible: !cornerCalibrationActive()"><i class="icon icon-refresh"></i> {{ _('Refresh picture') }}</a>
        <div class="marker_selection_desc calibration_waiting_for_picture"
             data-bind="visible: !cornerCalibrationActive()">
            <div class="marker_found_indicator" data-bind="css: { active: camera.markersFound['NW'] }"><i class="icon-ok"></i> NW</div>
            <div class="marker_found_indicator" data-bind="css: { active: camera.markersFound['SW'] }"><i class="icon-ok"></i> SW</div>
            <div class="marker_found_indicator" data-bind="css: { active: camera.markersFound['SE'] }"><i class="icon-ok"></i> SE</div>
            <div class="marker_found_indicator" data-bind="css: { active: camera.markersFound['NE'] }"><i class="icon-ok"></i> NE</div>
            <div class="marker_found_indicator" data-bind="visible: !calImgReady()"><i class="icon-spinner icon-spin"></i> {{ _('detecting') }}</div>
        </div>
        <a class="muted" data-bind="attr: { href: cornerCalImgUrl() }"> {{ _('Download this image') }}</a>
    </div>
</div>

<div data-bind="visible: !cornerCalibrationActive()" width="100%">
    <div style="margin-top:1em;">
        <button class="btn btn-default"
                data-bind="visible: calImgReady() && !cornerCalibrationComplete() && !camera.availablePic()['cropped'], click: startCornerCalibration">
            {{ _('Start Corner Calibration') }}
        </button>
    </div>
    <div data-bind="visible: cornerCalibrationComplete() && !camera.availablePic()['cropped']" >
        <i class="icon icon-spinner icon-spin" style="font-weight: bold"></i>
        <span>&nbsp; {{  _('Loading image...') }}</span>
    </div>
    <div class="qa_list_and_next" data-bind="visible: camera.availablePic()['cropped']">
        <h4>{{ _('Checklist') }}:</h4>
        <ul>
            <li>{{ _('The 4 arrows are aligned with the blue crosses') }}</li>
        </ul>
        <div class="continue_btn btn-group">
            <!--  onclick="startCornerCalibration" -->
            <a href="#" class="btn continue_btn"
                data-bind="click: startCornerCalibration">
                <i class="icon icon-2x icon-fixed-width icon-refresh"></i>
{#									{{ _('Restart Corner Calibration') }}#}
            </a>
            <a href="#" class="btn btn-success continue_btn"
                data-bind="click: function(){ $('#qacal_tab_btn').click() }">
                <span style="font-size:1.5em;">{{ _('Yes') }}</span><i class="icon icon-2x icon-fixed-width icon-arrow-right"></i>
            </a>
        </div>

    </div>
    <div id="corner_calibration_debug" data-bind="visible: window.mrbeam.isWatterottMode() ">
        <div>
            <img loading="lazy" id="debug_NW_img" class="marker_debug_image" data-bind="attr: {src: dbNWImgUrl()}"/>
            <img loading="lazy" id="debug_NE_img" class="marker_debug_image" data-bind="attr: {src: dbNEImgUrl()}"/>
        </div>
        <div>
            <img loading="lazy" id="debug_SW_img" class="marker_debug_image" data-bind="attr: {src: dbSWImgUrl()}"/>
            <img loading="lazy" id="debug_SE_img" class="marker_debug_image" data-bind="attr: {src: dbSEImgUrl()}"/>
        </div>
    </div>
</div>
<div data-bind="visible: cornerCalibrationActive()">

    <div class="marker_selection_desc calibration_summary">
        <div data-bind="css: {complete: cornerCalibrationComplete()}">
            <div data-bind="visible: cornerCalibrationActive()">
                <div id="NW" class="cal-row"><div class="cal-arrow NW"></div> North West: <span data-bind="text: _formatPoint(currentResults()['NW'])"></span></div>
                <div id="SW" class="cal-row"><div class="cal-arrow SW"></div> South West: <span data-bind="text: _formatPoint(currentResults()['SW'])"></span></div>
                <div id="SE" class="cal-row"><div class="cal-arrow SE"></div> South East: <span data-bind="text: _formatPoint(currentResults()['SE'])"></span></div>
                <div id="NE" class="cal-row"><div class="cal-arrow NE"></div> North East: <span data-bind="text: _formatPoint(currentResults()['NE'])"></span></div>
            </div>
        </div>
        <div style="margin-top:1em;">
            <button class="btn btn-default" data-bind="click: previousMarker, visible: cornerCalibrationActive()">{{ _('Previous') }}</button>
            <button class="btn btn-default" data-bind="click: nextMarker, visible: cornerCalibrationActive()">{{ _('Next') }}</button>
            <button class="btn btn-warning" data-bind="click: abortCornerCalibration, visible: cornerCalibrationActive()"><i class="icon-fixed-width icon-ban-circle"></i> {{ _('Cancel') }}</button>
            <button class="btn btn-success" data-bind="click: saveCornerCalibrationData, visible: cornerCalibrationComplete() && cornerCalibrationActive()">{{ _('Save Calibration') }}</button>
        </div>
    </div>

</div>
