<div id="dialog_vector_graphics_conversion" class="modal hide fade">
    <div class="modal-header">
        <h3 data-bind="visible:!slicing_in_progress()">Material <span data-bind="visible:customized_material()">(customized)</span></h3>
        <h3 data-bind="visible:slicing_in_progress()">Preparing...</h3>
    </div>
    <div class="modal-body scrollable" style="box-sizing: border-box">
		<div data-bind="visible:!slicing_in_progress()">
			<div id="material_row" data-bind="css: {expanded: expandMaterialSelector() }">

				<div id="material_type" data-bind="css: {active : selected_material() === null}">
			        <div id="material_burger_menu" class="dropdown pull-right">
						<a id="materials_manage" href="#" data-bind="click: function(){ $('#material_type').addClass('manage'); }" style="text-decoration: none;">
							<i class="icon-edit icon-large"></i>&nbsp;Manage materials
						</a>
						<a id="materials_manage_done" href="#" data-bind="click: function(){ $('#material_type').removeClass('manage'); }" style="text-decoration: none;">
							<i class="icon-ok icon-large"></i>&nbsp; Done
						</a>
					</div>

					<div class="">
						<label data-bind="visible: expandMaterialSelector">Material</label>
						<div class="">
							<form class="form-search" data-bind="submit: filterQuery, visible: selected_material() === null">
								<input type="text" class="input-block search-query" data-bind="value: filterQuery, valueUpdate: 'input'" placeholder="{{ _('Search...') }}">
							</form>
							<ul id="material_list" data-bind="foreach: filteredMaterials">
								<li class='material_entry hover_shadow'
									data-bind="click: function(vm, event){$root.set_material($data, event);},
												style: { backgroundImage: 'url(\'/plugin/mrbeam/static/img/materials/' + $data.img + '\')' },
												css: {selected: $root.selected_material() === $data, custom: $data.custom === true }
									">
									<span data-bind="text: $data.name"></span>
									<span class="delete_me" data-bind="click: function(data, event){ $root.delete_material($data, event); return false; }"><i class="icon icon-trash"></i></span>
								</li>
							</ul>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>

				<div id="material_color" class="" data-bind="css: {active : selected_material() !== null && selected_material_color() === null }">
					<div>
						<label data-bind="visible: expandMaterialSelector">Color</label>
						<ul id="color_list" data-bind="foreach: material_colors">
							<li class='material_color_entry hover_shadow' data-bind="
								click: function(vm, event){ $root.set_material_color($data, event); },
								attr: {id: 'material_color_'+$data },
								css: {active: $data === $root.selected_material_color() },
								visible: ($root.selected_material_color() === null) || ($root.selected_material_color() === $data),
								style: { backgroundColor: '#'+$data }
							"></li>
						</ul>
						<div class="alert alert-info hint" data-bind="visible: showHints">
							<span class="icon icon-question-sign" aria-hidden="true"></span>
							Depending on the color the laser beam is reflected more or less. Select a color
							close to the material's color to improve the result.
						</div>
					</div>
				</div>

				<div id="material_thickness" data-bind="css: {active : selected_material() !== null && selected_material_color() !== null && selected_material_thickness() === null}">
					<div>
						<label data-bind="visible: expandMaterialSelector">Thickness</label>
						<div id="thickness_list" data-bind="foreach: material_thicknesses">
							<div class="thickness_sample hover_shadow"
								 data-bind="
										click: function(vm, event){ $root.set_material_thickness($data, event); },
										attr: {id: 'material_thickness_'+$data.thicknessMM },
										css: {active: $data === $root.selected_material_thickness(), engrave_only: $data.thicknessMM === -1 },
										style: { padding: ($data.thicknessMM * $root.mm2px()/2)+'mm 0' },
										visible: ($root.selected_material_thickness() === null) || ($root.selected_material_thickness() === $data),
										text: $root.thickness_text($data)
								 " ></div>
						</div>
						<div class="controls alert alert-info hint" data-bind="visible: showHints">
							<span class="icon icon-question-sign" aria-hidden="true"></span>
							Set the thickness of the material. When cutting the material it is important to tell Mr Beam
							the thickness that he can select the correct laser settings.
						</div>
					</div>
				</div>
				
				<div id="save_material_flyin" data-bind="visible: customized_material()">
					<a data-bind="click: reset_material_settings"><i class="icon-repeat"></i> {{ _('Reset to defaults') }}</a>
					<div id="save_material_form" class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#" ><i class="icon-star"></i> {{ _('Save custom material') }}</a>
						<div class="dropdown-menu" role="menu" style="padding:.5em">
							<form class="form-horizontal" style="margin:0">
								<div class="control-group">
									<label class="control-label" for="custom_mat_name"> {{ _('Material Name') }}</label>
									<div class="controls">
										<input id="custom_mat_name" type="text" data-bind="value:save_custom_material_name" placeholder="your name of choice">
									</div>
								</div>
								<div class="control-group" data-bind="visible: has_cutting_proposal()">
									<label class="control-label" for="custom_mat_th"> {{ _('Thickness') }}</label>
									<div class="controls"> 
										<input id="custom_mat_th" type="number" min="0" max="38" data-bind="value:save_custom_material_thickness"> mm
									</div>
								</div>
								<div class="control-group">
									<label class="control-label" for="custom_mat_col"> {{ _('Color') }}</label>
									<div class="controls">
										<input id="custom_mat_col" type="color" min="-1" max="38" data-bind="value:save_custom_material_color">
									</div>
								</div>
								<div class="controls">
									<a class="btn" data-toggle="dropdown" href="#"><i class="icon-remove"></i> {{ _('Cancel') }}</a>
									<a class="btn" data-bind="click: save_material_settings"><i class="icon-ok"></i> {{ _('Save') }}</a>
								</div>
							</form>
						</div>
					</div>
				</div>

				<div id="material_info">
					<p>
						<i class="icon-warning-sign" style="color:red;" data-bind="visible: material_safety_notes() !== ''"></i>
						<span id="safety_notes" class="" data-bind="text: material_safety_notes"></span>
					</p>
					<a href="#" class="dropdown" data-toggle="collapse" data-target="#more_material_info" data-bind="visible: material_description() !== '' || material_hints() !== ''">
						<i class="icon-info-sign"></i> Info<b class="caret"></b>
					</a>
					<div id="more_material_info" class="collapse">
						<p id="description" data-bind="text: material_description"></p>
						<p>
							<i class="icon-lightbulb" data-bind="visible: material_hints() !== ''"></i>
							<span id="hints" data-bind="text: material_hints"></span>
						</p>
					</div>
				</div>
			</div>

			<div id="color_assignment" data-bind="css:{ inactive: expandMaterialSelector }">
				<div class="modal_dialog_headline">
					<h3>Parameter assignment</h3>
				</div>

				<div id="no_job" class="job_row row-fluid">
					<div class="span3" style="display:flex;">
						<div class="assigned_colors color_drop_zone img_drop_zone" ondragover="window.mrbeam.colorDragging.colorAllowDrop(event)" ondrop="window.mrbeam.colorDragging.colorDrop(event)"></div>
					</div>
					<div class="span9">
						<div class="job_parameters">
							<h4>Skip</h4>
							<span>Drag colors on this row to skip them.</span>
						</div>
					</div>
				</div>

				<div id="engrave_job" class="job_row row-fluid">
					<div class="span3" style="display:flex;">
						<div class="assigned_colors img_drop_zone color_drop_zone" ondragover="window.mrbeam.colorDragging.colorAllowDrop(event)" ondrop="window.mrbeam.colorDragging.colorDrop(event)">
							<div id="cd_engraving" draggable="true" class="used_color" ondragstart="window.mrbeam.colorDragging.colorDragStart(event)" ondragend="window.mrbeam.colorDragging.colorDragEnd(event)" data-bind="visible: show_image_parameters"></div>
						</div>
					</div>
					<div class="span9">
						<div class="clearfix">
							<h4 class="job_title pull-left">Engraving</h4>
						</div>
						<form class="job_parameters form-horizontal" data-bind="visible: has_engraving_proposal">
							<div class="control-group" >
								<label class="control-label">{{ _('Laser intensity range') }}</label>
								<div class="controls">
									<div class="input-append">
										<input id="svgtogcode_img_intensity_white" class="img_intensity_input" type="number" min="0" max="100" 
											   data-bind="value: imgIntensityWhite, event: {change: flag_customized_material}">
										<div class="svgtogcode_grayscale">&nbsp;</div>
										<input id="svgtogcode_img_intensity_black" class="img_intensity_input" type="number" min="0" max="100" 
											   data-bind="value: imgIntensityBlack, event: {change: flag_customized_material}">
									</div>
								</div>
								<div class="controls alert alert-info hint" data-bind="visible: showHints">
									<span class="icon icon-question-sign" aria-hidden="true"></span>
									The intensity range used for engraving pixel graphics. Bright/white pixels use the left (lower) value, dark/black pixels the right (higher) value.
									Equal values do not vary the laser intensity related to the pixel brightness.
								</div>

								<label class="control-label">{{ _('Engraving speed range') }}</label>
								<div class="controls">
									<div class="input-append">
										<input id="svgtogcode_img_feedrate_white" class="img_intensity_input" type="number"  min="30" 
											   data-bind="value: imgFeedrateWhite, event: {change: flag_customized_material}">
										<div class="svgtogcode_grayscale">&nbsp;</div>
										<input id="svgtogcode_img_feedrate_black" class="img_intensity_input" type="number"  min="30" 
											   data-bind="value: imgFeedrateBlack, event: {change: flag_customized_material}">
									</div>
								</div>
								<div class="controls alert alert-info hint" data-bind="visible: showHints">
									<span class="icon icon-question-sign" aria-hidden="true"></span>
									The movement velocity range used for engraving pixel graphics. Bright/white pixels use the left (higher) value, dark/black pixels the right (lower) value.
									Equal values do not vary the laser velocity related to the pixel brightness.
								</div>

								<div data-bind="visible: show_line_color_mappings">
									<label class="control-label">{{ _('Line color mapping') }}</label>
									<div class="controls">
										<div id="colored_line_mapping">
										</div>
									</div>
								</div>
								<div class="controls alert alert-info hint" data-bind="visible: showHints">
									<span class="icon icon-question-sign" aria-hidden="true"></span>
									Map the color of a vector path to a grayscale value for engraving.
								</div>

								<div class="controls" data-bind="visible: showExpertSettings ">
									<label class="checkbox">
										<input type="checkbox" data-bind="checked: engrave_outlines">{{ _('engrave outlines of filled shapes') }}
									</label>
								</div>
							</div>

							<div class="control-group" data-bind="visible: showExpertSettings ">
								<label class="control-label">Pierce time</label>
								<div class="controls">
									<input data-bind="value: engravingPiercetime, event: {change: flag_customized_material}" 
											 class="param_piercetime decimal_input" type="number" min="0" max="2000" value="0" />&nbsp;ms
								</div>

								<label class="control-label">{{ _('Line distance') }}</label>
								<div class="controls"><input id="svgtogcode_img_line_dist" class="img_intensity_input decimal_input" type="number" max="0.5" min="0.1" step="0.05" data-bind="value: beamDiameter" />&nbsp;mm</div>
								<div class="controls alert alert-info hint" data-bind="visible: showHints">
									<span class="icon icon-question-sign" aria-hidden="true"></span>
									Pixel / raster engravings are done line by line. This sets the distance between the single lines.
									Smaller values allow finer engravings but require a more precise focus and are slower.
								</div>
								
								<label class="control-label">{{ _('Engraving mode') }}</label>
								<div class="controls">
									<div class="btn-group" data-toggle="buttons-radio">
										<button id="svgtogcode_img_engraving_mode" type="button" class="btn btn-default">Fast</button>
										<button type="button" class="btn btn-default active">Precise</button>
									</div>
								</div>
								<div class="controls alert alert-info hint" data-bind="visible: showHints">
									<span class="icon icon-question-sign" aria-hidden="true"></span>
									Pixel / raster engravings are done line by line.
									In precise mode, line by line is engraved from bottom to top. The laserhead is moving over white space. 
									In fast mode, to be engraved areas are separated to reduce work moves of the laserhead. 
									The speed up works best on text or clipart designs, on photos there is no effect.
								</div>


								<p >{{ _('Image Preprocessing') }}</p>
								<div class="controls">
									<div class="img_preprocessing_preview before" style="background-image:url(/plugin/mrbeam/static/img/kitty_grayscale.png);" >before</div>
									<div class="img_preprocessing_preview after" style="background-image:url(/plugin/mrbeam/static/img/kitty_grayscale.png);" >after
										<div class="img_preprocessing_preview contrast" style="background-image:url(/plugin/mrbeam/static/img/kitty_contrast.png);" data-bind="style: { opacity: contrastPreview }" ></div>
										<div class="img_preprocessing_preview sharpened" style="background-image:url(/plugin/mrbeam/static/img/kitty_sharpened.png);" data-bind="style: { opacity: sharpenedPreview }" ></div>
										<div class="img_preprocessing_preview dithered" style="background-image:url(/plugin/mrbeam/static/img/kitty_dithered_150.png);" data-bind="visible: imgDithering"></div>

									</div>
									<div class="photo_attribution"><a href="http://www.christianholmer.com" target="_blank">Photo: Christian Holmér</a></div>
								</div>

								<div data-bind="disable:imgDithering ">
									<label class="control-label">{{ _('Contrast') }}</label>
									<div class="controls img_slider">
										<input id="svgtogcode_contrast_slider" type="text" data-bind="value: imgContrast" >
									</div>
									<div style="clear:both"></div>
									<div class="controls alert alert-info hint" data-bind="visible: showHints">
										<span class="icon icon-question-sign" aria-hidden="true"></span>
										Increases the image contrast before converting to gcode.
									</div>

									<label class="control-label">{{ _('Sharpening') }}</label>
									<div class="controls img_slider">
										<input id="svgtogcode_sharpening_slider" class="uninitialized" type="text" data-bind="value: imgSharpening">
									</div>
									<div style="clear:both"></div>
									<div class="controls alert alert-info hint" data-bind="visible: showHints">
										<span class="icon icon-question-sign" aria-hidden="true"></span>
										Sharpens the image before converting to gcode.
									</div>
								</div>

								<label class="control-label">{{ _('Dithering') }}</label>
								<div class="controls">
									<label class="checkbox">
										<input type="checkbox" data-bind="checked: imgDithering, event: {change: flag_customized_material}">{{ _('Dithering') }}
									</label>
								</div>
								<div class="controls alert alert-info hint" data-bind="visible: showHints">
									<span class="icon icon-question-sign" aria-hidden="true"></span>
									Converts the image to solely black and white pixels.
									Use this if the laser effect on your material is not able to transfer grayscales.
								</div>
							</div>
						</form>
						<div class="not_possible_on_this_material" data-bind="visible: !has_engraving_proposal()">
							Sorry, there are no engraving settings for this material.
							<a data-bind="click:function(){ has_engraving_proposal(true); }"> <i class="icon-arrow-right"></i> I know what I am doing! Let me try my own.</a>
						</div>
					</div>
				</div>
				<div id="first_job" class="job_row_vector job_row row-fluid" data-bind="visible: show_vector_parameters">
					<div class="span3" style="display:flex;">
						<div class="assigned_colors color_drop_zone" ondragover="window.mrbeam.colorDragging.colorAllowDrop(event)" ondrop="window.mrbeam.colorDragging.colorDrop(event)"></div>
					</div>
					<div class="span9">
						<div class="clearfix">
							<h4 class="job_title pull-left">Cutting Job 1</h4>
						</div>
						<form class="job_parameters form-horizontal" data-bind="visible: has_cutting_proposal">
							<div class="control-group">
								<label class="control-label">Laser Intensity</label>
								<div class="controls"><input class="param_intensity img_intensity_input" type="number" min="0" max="100" 
															 data-bind="event: {change: flag_customized_material}"
															 onblur="window.mrbeam.colorDragging.checkConversionParameters()"/>&nbsp;%</div>
								<div class="controls alert alert-info hint" data-bind="visible: showHints">
									<span class="icon icon-question-sign" aria-hidden="true"></span>
									Sets the intensity of the laser. The more intensity the deeper the effect on the material.
									Cutting needs higher intensities than engraving.
									The effect in general is dependent from the material and its color and surface.
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">Laser Speed</label>
								<div class="controls"><input class="param_feedrate img_intensity_input" type="number" min="20" max="3000" 
															 data-bind="event: {change: flag_customized_material}"
															 onblur="window.mrbeam.colorDragging.checkConversionParameters()"/>&nbsp;mm/min</div>
								<div class="controls alert alert-info hint" data-bind="visible: showHints">
									<span class="icon icon-question-sign" aria-hidden="true"></span>
									Sets the velocity of the laser head. The slower the movement the deeper the effect on the material.
									Cutting needs slower movement than engraving.
									The effect in general is dependent from the material and its color and surface.
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">Passes</label>
								<div class="controls"><input data-bind="event: {change: flag_customized_material}" class="param_passes img_intensity_input" type="number" min="1" max="10" value="1" />&nbsp;&times;</div>
							</div>
							<div class="control-group" data-bind="visible: showExpertSettings ">
								<label class="control-label">Pierce time</label>
								<div class="controls"><input data-bind="event: {change: flag_customized_material}" class="param_piercetime img_intensity_input" type="number" min="0" max="2000" value="0" />&nbsp;ms</div>
							</div>
						</form>
						<div class="not_possible_on_this_material" data-bind="visible: !has_cutting_proposal()">
							Sorry, there are no cutting settings for this material.
							<a data-bind="click: function(){ has_cutting_proposal(true); }"> <i class="icon-arrow-right"></i> I know what I am doing! Let me try my own.</a>
						</div>
					</div>
				</div>
				<div id="additional_jobs"></div>
				<div class="row-fluid" data-bind="visible: show_vector_parameters()">
					<div class="assigned_colors color_drop_zone create_job" ondragover="window.mrbeam.colorDragging.colorAllowDrop(event)" ondrop="window.mrbeam.colorDragging.colorDropCreateJob(event)">
						+ Drag colors here for another job +
					</div>
				</div>
			</div>

		</div>
		<div id="slicing_progress" class="progress progress-striped active" style="width: 100%;" data-bind="visible: slicing_in_progress()">
			<div class="bar" style="width: 0%" data-bind="style: {width: slicing_progress() + '%'} "></div>
		</div>
    </div>
    <div class="modal-footer">
		<div class="pull-left" style="text-align:left;" data-bind="visible: !slicing_in_progress()">
			<label class="checkbox">
				<input type="checkbox" data-bind="checked: showExpertSettings">show advanced settings
			</label>
			<label class="checkbox">
				<input type="checkbox" data-bind="checked: showHints">show explanations
			</label>
		</div>

        <a href="#" class="btn" aria-hidden="true" 
		   data-bind="click: $root.cancel_conversion(),
					visible: !slicing_in_progress()">{{ _('Cancel') }}</a>
        <a href="#" class="btn btn-primary"
		   data-bind="click: function() { if ($root.enableConvertButton()) { $root.convert() } },
					enabled: enableConvertButton,
					visible: !slicing_in_progress(),
					css: {disabled: !$root.enableConvertButton()}">{{ _('Start') }}</a>
    </div>
</div>
