<script lang="javascript">

    if (console.everything === undefined) {
        console.everything = [];

        console.defaultLog = console.log.bind(console);
        console.log = function(){
            console.everything.push({"type":"log", "datetime":Date().toLocaleString(), "value":Array.from(arguments), "ts": Date.now()});
            console.defaultLog.apply(console, arguments);
        }
        console.defaultError = console.error.bind(console);
        console.error = function(){
            console.everything.push({"type":"error", "datetime":Date().toLocaleString(), "value":Array.from(arguments), "ts": Date.now()});
            console.defaultError.apply(console, arguments);
        }
        console.defaultWarn = console.warn.bind(console);
        console.warn = function(){
            console.everything.push({"type":"warn", "datetime":Date().toLocaleString(), "value":Array.from(arguments), "ts": Date.now()});
            console.defaultWarn.apply(console, arguments);
        }
        console.defaultDebug = console.debug.bind(console);
        console.debug = function(){
            console.everything.push({"type":"debug", "datetime":Date().toLocaleString(), "value":Array.from(arguments), "ts": Date.now()});
            console.defaultDebug.apply(console, arguments);
        }
        console.defaultTrace = console.trace.bind(console);
        console.trace = function(){
            console.everything.push({"type":"trace", "datetime":Date().toLocaleString(), "value":Array.from(arguments), "ts": Date.now()});
            console.defaultTrace.apply(console, arguments);
        }
    }

    window.addEventListener('error', function(event) {
        console.error(event);
        return false;
    })

</script>
