<div id="laser_job_done_dialog" class="modal hide fade" >
    <div>
        <div class="modal-header">
            <a href="#" class="close" data-bind='click: cancel_btn' aria-hidden="true">&times;</a>
            <h3>{{ _('Dust extraction') }}</h3>
        </div>
        <div class="modal-body">
            <img src="/plugin/mrbeam/static/img/fan.jpg">
            <h5 data-bind='visible: !is_job_done'>Please wait a few seconds until the Mr Beam Air Filter cleared most of the dust from the working are.</h5>
            <h5 data-bind='visible: is_job_done'>Everything is ready to go. You can now open the lid and get your workpiece out.</h5>
        </div>
        <div class="modal-footer">
            <h4 class="pull-right">
                Something meaningful in this footer.
            </h4>
        </div>
    </div>
</div>
