<div id="lasersafety_overlay" class="modal hide fade" data-backdrop="static" data-keyboard="false">
    <div class="modal-header">
        <h3>
            {{ _('Laser Safety') }}
        </h3>
    </div>
    <div class="modal-body scrollable">

        {% include "lasersafety_genericbody.jinja2" %}

    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" data-bind="enable: allChecked(), click: agree">
            {{ _('I do fully understand and agree!') }}
        </button>
    </div>
</div>
