{# hey there! It's important to keep the version and language data of this dialog up to date!!!! #}
{# hey there! It's important to keep the version and language data of this dialog up to date!!!! #}
{# hey there! It's important to keep the version and language data of this dialog up to date!!!! #}
{# hey there! It's important to keep the version and language data of this dialog up to date!!!! #}
{# hey there! It's important to keep the version and language data of this dialog up to date!!!! #}
{# hey there! It's important to keep the version and language data of this dialog up to date!!!! #}
{# hey there! It's important to keep the version and language data of this dialog up to date!!!! #}
{# hey there! It's important to keep the version and language data of this dialog up to date!!!! #}
<!-- LASERSAFETY_CONFIRMATION_DIALOG_VERSION: {{ lasersafety_confirmation_dialog_version }}, LASERSAFETY_CONFIRMATION_DIALOG_LANGUAGE: {{ lasersafety_confirmation_dialog_language }} -->
{# hey there! It's important to keep the version and language data of this dialog up to date!!!! #}
{# hey there! It's important to keep the version and language data of this dialog up to date!!!! #}
{# hey there! It's important to keep the version and language data of this dialog up to date!!!! #}




{% set safety_img = _('img/MrBeam_Sicherheitshinweise_EN.png') %}
{% set laser_safety_de = _('/plugin/mrbeam/static/docs/LaserSafetyOriginalText.pdf') %}

<p>
    <strong>{{ _('Heads up! Read the following, it is very important for your and other\'s health!') }}</strong>
</p>
<h3>
   {{ _('Laser Classification:') }}
</h3>
<p>
    {{ _('Your "Mr Beam II", "Mr Beam II dreamcut ready" or "Mr Beam II dreamcut" lasercutter is a class 1 laser device according to IEC60825. ') }}
    {{ _('This means that no harmful laser light can leak out from the device during an intended purpose operation. ') }}
    {{ _('This is ensured by a redundant security system. ') }}
    {{ _('This security system must not be manipulated or circumvented at any time.') }}

</p>

<img src="{{ url_for('plugin.mrbeam.static', filename=safety_img) }}" alt="safety labels"/>

<h3>{{ _('Safety Advisory:') }}</h3>
<p>
    {{ _('Keep the safety housing and the safety lid <strong>always</strong> in excellent condition.') }}<br/>
    {{ _('<strong>Never</strong> modify, disable or circumvent the safety housing, safety lid, safety switches or any other safety related device on your lasercutter.') }}<br/>
    {{ _('Damaged or modified devices are not allowed to use. Ask a certified service engineer to repair them immediately.') }}<br/>
    {{ _('Be <strong>always</strong> responsible regarding yourself and others.') }}<br/>
    {{ _('<strong>Never</strong> leave the device unattended during operation. ') }}<br/>
    {{ _('<strong>Never</strong> run the device without proper exhaust system.') }} <br/>
    {{ _('<strong>Always</strong> vent unfiltered fumes during operation to the outside.') }} <br/>
    {{ _('In closed rooms it is <strong>always</strong> necessary to filter the exhausted air.') }} <br/>
    {{ _('<strong>Never</strong> put reflecting or mirroring or flammable materials under the laser.') }}<br/>
    {{ _('<strong>Never</strong> put the machine on a flammable surface.') }} <br/>
    {{ _('It must be operated <strong>only</strong> by persons who are aware of the risks and dangers of the operation.') }}<br/>
    {{ _('If not operated by yourself, introduce the operating person carefully and responsibly.') }}<br/>
    {{ _('If you are connecting the lasercutter to a network ensure that you properly set up the network access as well as the machine\'s access control. ') }}
    {{ _('Do NOT underestimate the risk of an unsecured access from the internet to your lasercutter.') }}
</p>

<small class="muted">
    {{ _('Disclaimer: Versions in other languages are a translation of the %(open)soriginal German%(close)s for information purposes only. In case of discrepancy, the German original will prevail.', open='<a href="%s" target="_blank">' % laser_safety_de, close='</a>')}}
</small><br>

<p style="margin-top: 25px;">
    {{ _('By proceeding you are agreeing, that') }}
</p>
<ul>
    <div class="control-group wizard_safety_agreement" data-bind="css: {success: checkbox1(), error: !checkbox1()}">
        <label class="checkbox">
            <input type="checkbox" data-bind="checked: checkbox1">
            {{ _('I understand that laser light is potentially dangerous. ') }}
            {{ _('I know that I am legally responsible for the use and also the improper use of my laser cutter.') }}
        </label>
    </div>

    <div class="control-group wizard_safety_agreement" data-bind="css: {success: checkbox2(), error: !checkbox2()}">
        <label class="checkbox">
            <input type="checkbox" data-bind="checked: checkbox2">
            {{ _('This lasercutter is protecting you from laser light with a safety housing, a safety lid, safety electronic circuits, exhaust system and other safety devices. ') }}
            {{ _('I understand that modifying, circumventing or disabling any safety related device will result in insufficient protection.') }}
        </label>
    </div>

    <div class="control-group wizard_safety_agreement" data-bind="css: {success: checkbox3(), error: !checkbox3()}">
        <label class="checkbox">
            <input type="checkbox" data-bind="checked: checkbox3">
            {{ _('I understand that I am are responsible to keep this lasercutter and all attached safety devices in excellent condition.') }}<br/>
            {{ _('This may require regular inspections and immediate repairs if necessary.') }}
        </label>
    </div>

    <div class="control-group wizard_safety_agreement" data-bind="css: {success: checkbox4(), error: !checkbox4()}">
        <label class="checkbox">
            <input type="checkbox" data-bind="checked: checkbox4">
            {{ _('I will never leave my lasercutter unattended during operation.') }}
        </label>
    </div>

    <div class="control-group wizard_safety_agreement" data-bind="css: {success: checkbox5(), error: !checkbox5()}">
        <label class="checkbox">
            <input type="checkbox" data-bind="checked: checkbox5">
            {{ _('I am legally responsible to grant access to my laser cutter only to introduced and authorized personnel.') }}
        </label>
    </div>

    <div class="control-group wizard_safety_agreement" data-bind="css: {success: checkbox6(), error: !checkbox6()}">
        <label class="checkbox">
            <input type="checkbox" data-bind="checked: checkbox6">
            {{ _('I have connected the lasercutter to a trustful network and ensured that only authorized and introduced personnel can access it.') }}
            {{ _('When not using the lasercutter, I will always turn off the power and pull off the key.') }}
        </label>
    </div>
</ul>

<p>
    {{ _('If you have any concerns about laser safety or if you do not agree with the conditions above don\'t use this software to operate any machine emitting laser light.') }}
</p>


<p>{{ _('Thank you for reading.') }} </p>

<br/>
<div class="control-group wizard_safety_agreement">
    <label class="checkbox">
        <input type="checkbox" data-bind="checked: showAgain">
        <div>{{ _('Remind me on every login.') }}</div>
        <ul style="color:grey">
            <li><small>{{ _('Internet connection required to take effect.') }}</small></li>
            <li><small>
                {{ _('If you decide to not be reminded on every login, we need to store your agreement on our servers.') }}
                {{ _('This includes your login email address and technical device data.') }}<br />
                {# Check our <a href="http://shop.mr-beam.org/privacy" target="_blank" style="color:grey; text-decoration: underline;">privacy statement</a> for details. #}
                {{ _("Check our %(open)sprivacy statement%(close)s for details.", open='<a href="https://mr-beam.org/privacy-policy" target="_blank" style="color:grey; text-decoration: underline;">', close='</a>')|safe }}
            </small></li>
        </ul>
    </label>
</div>
<br/>
