<div id="loginscreen_dialog" name="loginscreen" class="modal hide fade" data-backdrop="static" data-keyboard="false">
    <div class="modal-header">
        <h3><img src="/plugin/mrbeam/static/img/mr_x120.png" style="height: 38px; width: auto;"> {{ _('Login') }}</h3>
    </div>

    <form class="form-horizontal" data-bind="event: {'submit': login }">
        <div class="modal-body">

                <div class="control-group">
                    <label class="control-label">{{ _('E-mail address') }}</label>
                    <div class="controls">
                        <input type="text" id="login_screen_email_address_in" class="input-medium" name="username" data-bind="value: loginState.loginUser, valueUpdate: 'afterkeydown'" placeholder="{{ _('E-mail address') }}" autocapitalize="none">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" >{{ _('Password') }}</label>
                    <div class="controls">
                        <input type="password" id="login_screen_password_in" class="input-medium" name="password" data-bind="valueWithInit: loginState.loginPass" placeholder="{{ _('Password') }}">
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <input type="checkbox" id="login_screen_remember_me_cb" class="input-medium" data-bind="checked: loginState.loginRemember">
                        <span class="help-inline" >{{ _('Remember me') }}</span>
                    </div>
                </div>

        </div>
        <div class="modal-footer">
            <button type="submit" id="login_screen_login_btn" class="btn btn-block btn-primary">{{ _('Login') }}</button>
        </div>
    </form>
</div>
