<div id="loginscreen_dialog" data-test="loginscreen_dialog" name="loginscreen" class="modal hide fade" data-backdrop="static" data-keyboard="false">
    <div class="modal-header">
        <h3>
            <img loading="lazy" src="/plugin/mrbeam/static/img/mr_x120.png" style="height: 38px; width: auto;">
            {{ _('Login') }}
        </h3>
    </div>

    <form class="form-horizontal" data-bind="event: {'submit': login }" style="margin: 20px 0 0 0;">
        <div class="modal-body">

                <div class="control-group">
                    <label class="control-label">{{ _('Mr Beam Name') }}</label>
                    <div class="controls">
                        <div style="float: left; width: 160px; padding-top: 5px;">{{ hostname }}</div>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">{{ _('E-mail address') }}</label>
                    <div class="controls">
                        <input type="text" id="login_screen_email_address_in" class="input-large" name="username" data-bind="value: loginState.loginUser, valueUpdate: 'afterkeydown'" placeholder="{{ _('E-mail address') }}" autocapitalize="none">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" >{{ _('Password') }}</label>
                    <div class="controls">
                        <input type="password" id="login_screen_password_in" class="input-large" name="password" data-bind="valueWithInit: loginState.loginPass" placeholder="{{ _('Password') }}">
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <input type="checkbox" id="login_screen_remember_me_cb" class="input-large" data-bind="checked: loginState.loginRemember">
                        <label for="login_screen_remember_me_cb" class="help-inline" >{{ _('Remember me') }}</label>
                    </div>
                </div>

            <div class="pull-right muted" style="padding: 20px 5px 0px 0;">
                <small class="muted show_only_online">{{ _("Forgot your password? Contact %(tag_open)sMr Beam Support%(tag_close)s.",
                        tag_open='<a href="https://mr-beam.freshdesk.com/support/solutions/articles/43000500137" target="_blank" class="muted"><i class="icon-external-link"></i>&nbsp;',
                        tag_close='</a>')|safe}}
                </small>
                <small class="muted show_only_offline">{{ _("Forgot your password? Contact %(tag_open)sMr Beam Support%(tag_close)s.",
                        tag_open='<a href="#" onclick="mrbeam.openOfflineKbUrl(\'43000500137_how_to_login.pdf\')" class="muted"><i class="icon-file-text"></i>&nbsp;',
                        tag_close='</a>')|safe}}
                </small>
            </div>

        </div>
        <div class="modal-footer">
            <button type="submit" id="login_screen_login_btn" class="btn btn-block btn-primary">{{ _('Login') }}</button>
        </div>
    </form>
</div>

<div id="mrb_settings_users_header" class="hide" style="width: 70%; padding: 0 0 15px 0;">
    <h3>{{ _("Access Control") }}</h3>
    <p>{{ _("For security reasons, you can only use your Mr Beam after logging in with a user account.") }}</p>
    <p class="show_only_online"><strong>{{ _("Please remember your access data!") }}</strong><br/>
        {{ _("If you forget your access information, you'll need to contact the Mr Beam Support Team to reset your device.
        You can find more about this in our %(tag_open)sKnowledge Base%(tag_close)s.",
                tag_open='<a href="https://mr-beam.freshdesk.com/support/solutions/articles/43000500137" target="_blank"><i class="icon-external-link"></i>&nbsp;',
                tag_close='</a>') }}
    </p>
    <p class="show_only_offline"><strong>{{ _("Please remember your access data!") }}</strong><br/>
        {{ _("If you forget your access information, you'll need to contact the Mr Beam Support Team to reset your device.
        You can find more about this in our %(tag_open)sKnowledge Base%(tag_close)s.",
                tag_open='<a href="#" onclick="mrbeam.openOfflineKbUrl(\'43000500137_how_to_login.pdf\')"><i class="icon-file-text"></i>&nbsp;',
                tag_close='</a>') }}
    </p>
    <p><br/></p>
</div>
