<script lang="javascript">
    var BEAMOS_VERSION = "{{ beamosVersionNumber }}";
    var BEAMOS_BRANCH = "{{ beamosVersionBranch }}";
    var BEAMOS_DISPLAY_VERSION = "{{ beamosVersionDisplayVersion }}";
    var BEAMOS_IMAGE = "{{ beamosVersionImage }}";
    var MRBEAM_DISPLAY_NAME = "{{ displayName }}";
    var MRBEAM_HOSTNAME = "{{ hostname }}";
    var MRBEAM_SERIAL = "{{ serial }}";
    var MRBEAM_ENV_LOCAL = "{{ env_local }}";
    var MRBEAM_LANGUAGE = "{{ language }}";
    var MRBEAM_ENV_ANALYTICS = "{{ env_analytics }}";
    var MRBEAM_ANALYTICS_ENABLED = "{{ analyticsEnabled }}";

    window.mrbeam = {};
</script>
