<script lang="javascript">
    var BEAMOS_VERSION = "{{ beamosVersion.number }}";
    var BEAMOS_BRANCH = "{{ beamosVersion.branch }}";
    var BEAMOS_DISPLAY_VERSION = "{{ beamosVersion.display_version }}";
    var MRBEAM_SERIAL = "{{ serial }}";
    var MRBEAM_ANALYTICS_ENABLED = "{{ analyticsEnabled }}";
</script>
