<div id="quick_shape_dialog" class="modal hide fade modal-left-side" >
    <div class="modal-header">
{#        <a href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>#}
        <h3>{{ _('Quick Shape') }}</h3>
    </div>
    <div class="modal-body">
		<div class="tabbable">
			<ul id="shape_tabs" class="nav nav-tabs">
				<li class="active"><a id="shape_tab_link_rect" href="#rect" data-bind="click: function(){switchQuickShape('#rect')}" data-toggle="tab"><i class="icon icon-check-empty"></i></a></li>
				<li><a id="shape_tab_link_circle" href="#circle" data-bind="click: function(){switchQuickShape('#circle')}" data-toggle="tab"><i class="icon icon-circle-blank"></i></a></li>
				<li><a id="shape_tab_link_star" href="#star" data-bind="click: function(){switchQuickShape('#star')}" data-toggle="tab"><i class="icon icon-star-empty"></i></a></li>
				<li><a id="shape_tab_link_heart" href="#heart" data-bind="click: function(){switchQuickShape('#heart')}" data-toggle="tab"><i class="icon icon-heart-empty"></i></a></li>
			</ul>

			<div class="tab-content">
				<div class="tab-pane active" id="rect">
					<form role="form" class="form-horizontal" data-bind="submit: _qs_dialogClose">
						<div class="control-group">
							<label class="control-label"><i class="icon icon-resize-horizontal"></i></label>
							<div class="controls">
								<input type="number" id="quick_shape_rect_w" min="0" data-bind="textInput: _qs_currentQuickShapeUpdate(), attr:{max: workingAreaWidthMM}">
                                <span style="display:inline-block">mm</span>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label"><i class="icon icon-resize-vertical"></i></label>
							<div class="controls">
								<input type="number" id="quick_shape_rect_h" min="0" data-bind="textInput: _qs_currentQuickShapeUpdate(), attr:{max: workingAreaHeightMM}">
                                <span style="display:inline-block">mm</span>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">{{ _('Corners') }}</label>
							<div class="controls">
								<!--<label class="control-label"><i class="icon icon-check-empty"></i></label>-->
{#								<input id="quick_shape_rect_radius" class="precisionslider padding-top" type="range" value="0" min="0" max="100"#}
{#									   data-bind="textInput: _qs_currentQuickShapeUpdate()" />#}
                                <input id="quick_shape_rect_radius" class="mrb_slider" type="range" value="0" min="0" max="100"
									   data-bind="textInput: _qs_currentQuickShapeUpdate()" />
								<!--<label class="control-label"><i class="icon icon-circle-blank"></i></label>-->
							</div>
						</div>


					</form>
				</div>
				<div class="tab-pane" id="circle">
					<form role="form" class="form-horizontal" data-bind="submit: _qs_dialogClose">
						<div class="control-group">
							<label class="control-label"><i class="icon"></i>Ø</label>
							<div class="controls">
								<input type="number" id="quick_shape_circle_radius" min="1" data-bind="textInput: _qs_currentQuickShapeUpdate(), attr:{max: workingAreaHeightMM}">
                                <span style="display:inline-block">mm</span>
							</div>
						</div>
					</form>
				</div>
				<div class="tab-pane" id="star">
					<form role="form" class="form-horizontal" data-bind="submit: _qs_dialogClose">
						<div class="control-group">
							<label class="control-label"><i class="icon"></i>Ø</label>
							<div class="controls">
								<input type="number" id="quick_shape_star_radius" class="input-block" min="0" data-bind="textInput: _qs_currentQuickShapeUpdate(), attr:{max: workingAreaHeightMM}">
                                <span style="display:inline-block">mm</span>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label"><i class="icon"></i>{{ _('Corners') }}</label>
							<div class="controls">
								<input type="number" id="quick_shape_star_corners" class="input-block" min="3" max="32" data-bind="textInput: _qs_currentQuickShapeUpdate()">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label"><i class="icon"></i>{{ _('Sharpness') }}</label>
							<div class="controls">
{#								<input type="range" id="quick_shape_star_sharpness" class="precisionslider quickshape-slider padding-top" step="0.1" min="0" max="0.9" data-bind="textInput: _qs_currentQuickShapeUpdate()" value="0.5">#}
								<input type="range" id="quick_shape_star_sharpness" class="mrb_slider" step="0.1" min="0" max="0.9" data-bind="textInput: _qs_currentQuickShapeUpdate()" value="0.5">
							</div>
						</div>
					</form>
				</div>
				<div class="tab-pane" id="heart">
					<form role="form" class="form-horizontal" data-bind="submit: _qs_dialogClose">
						<div class="control-group">
							<label class="control-label"><i class="icon icon-resize-horizontal"></i></label>
							<div class="controls">
								<input type="number" id="quick_shape_heart_w" class="input-block" min="0" data-bind="textInput: _qs_currentQuickShapeUpdate(), attr:{max: workingAreaWidthMM}">
                                <span style="display:inline-block">mm</span>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label"><i class="icon icon-resize-vertical"></i></label>
							<div class="controls">
								<input type="number" id="quick_shape_heart_h" class="input-block" min="0" data-bind="textInput: _qs_currentQuickShapeUpdate(), attr:{max: workingAreaHeightMM}">
                                <span style="display:inline-block">mm</span>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label"><i class="icon icon-magic"></i></label>
							<div class="controls">
{#								<input type="range" id="quick_shape_heart_lr" class="precisionslider quickshape-slider padding-top" step="0.1" min="-0.5" max="0.5" data-bind="textInput: _qs_currentQuickShapeUpdate()" value="0">#}
								<input type="range" id="quick_shape_heart_lr" class="mrb_slider" step="0.1" min="-0.5" max="0.5" data-bind="textInput: _qs_currentQuickShapeUpdate()" value="0">
							</div>
						</div>
					</form>
				</div>
			</div>
			<div id="quick_shape_stroke_and_fill">
				<form role="form" class="form-horizontal" data-bind="submit: _qs_dialogClose" _lpchecked="1">
					<div class="control-group">
						<label class="control-label">{{ _('Line Color') }}</label>
						<div class="controls">
							<input type="checkbox" value="stroke" id="quick_shape_stroke" checked data-bind="click: _qs_currentQuickShapeUpdate()" />
							<div id="qs_colorPicker_stroke" class="tinyColorPicker">
								<a class="tcp_color"><div class="colorInner"></div></a>
								<div class="track"></div>
								<ul class="dropdown"><li></li></ul>
								<input type="hidden" class="colorInput" id="quick_shape_color" >
							</div>
						</div>
					</div>
				</form>

				<form role="form" class="form-horizontal" data-bind="submit: _qs_dialogClose" _lpchecked="1" style="min-height:85px;">
					<div class="control-group">
						<label class="control-label">{{ _('Fill Color') }}</label>
						<div class="controls">
							<input type="checkbox" value="fill" id="quick_shape_fill" data-bind="click: _qs_currentQuickShapeUpdate()" />
							<div id="qs_colorPicker_fill" class="tinyColorPicker blackWhite">
								<a class="tcp_color"><div class="colorInner"></div></a>
								<div class="track"></div>
								<ul class="dropdown"><li></li></ul>
								<input type="hidden" class="colorInput" id="quick_shape_fill_brightness">
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
    </div>
    <div class="modal-footer">
        <a class="btn btn-primary" id="quick_shape_shape_done_btn" type="submit" data-dismiss="modal" aria-hidden="true">{{ _('OK') }}</a>
    </div>
</div>
