<div id="quick_text_dialog" class="modal hide fade modal-left-side" >
    <div class="modal-header">
{#        <a href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>#}
        <h3>{{ _('Quick Text') }}</h3>
    </div>
    <div class="modal-body">
        <form role="form" class="form-search" data-bind="submit: function(){$('#quick_text_dialog').modal('hide');}" _lpchecked="1">
            <input type="text" id="quick_text_dialog_text_input" class="input-block quicktext-input" data-bind="textInput: currentQuickText" placeholder="{{ _('QuickText...') }}" autocomplete="off">
                <div class="row-fluid padding-top">
                    {# Translators: Aa - the first alphabet letter capitalized and not #}
                    <div class="btn btn-small span3 quicktext-font-button" data-bind="click: currentQuickTextFontPrev"><i class="icon-chevron-left" title="{{ _('Previous Font') }}"></i> {{ _('Aa') }} </div>
                    <div class="span6 quicktext-fontname" id="quick_text_dialog_font_name"></div>
                    <div class="btn btn-small span3 quicktext-font-button" data-bind="click: currentQuickTextFontNext"> {{ _('Aa') }} <i class="icon-chevron-right" title="{{ _('Next Font') }}"></i></div>
                </div>
                <input id="quick_text_dialog_intensity" class="precisionslider grayscale quicktext-slider padding-top" type="range" min="0" max="255"/>
        </form>
    </div>
    <div class="modal-footer">
        <a class="btn btn-primary" id="quick_text_text_done_btn" type="submit" data-dismiss="modal" aria-hidden="true">{{ _('Done') }}</a>
    </div>
</div>
