<div id="ready_to_laser_dialog" class="modal hide fade" >

    <div data-bind='visible: !is_cooling_mode() || !interlocks_closed()'>
        <div class="modal-header">
            <a href="#" class="close" data-bind='visible: is_rtl_mode(), click: cancel_btn' aria-hidden="true">&times;</a>
            <h3 data-bind='visible: is_rtl_mode()'>{{ _('Ready To Laser?') }}</h3>
            <h3 data-bind='visible: !is_rtl_mode()'>{{ _('Pause') }}</h3>
        </div>
        <div class="modal-body">
            <img data-bind='visible: !is_fan_connected()' src="/plugin/mrbeam/static/img/airfilter.jpg">
            <img data-bind='visible: !interlocks_closed() && is_fan_connected()' src="/plugin/mrbeam/static/img/closelid.jpg">
            <img data-bind='visible: interlocks_closed() && is_fan_connected()' src="/plugin/mrbeam/static/img/onebutton.jpg">
            <h5 data-bind='visible: !is_fan_connected()'>Can not detect air filter system. Is it plugged in?</h5>
            <h5 data-bind='visible: !interlocks_closed() && is_fan_connected()'>Please close the lid completely before we can proceed.</h5>
            <h5 data-bind='visible: interlocks_closed() && is_fan_connected()'>Everything is ready to go.</h5>
        </div>
        <div class="modal-footer">
            <a class="btn pull-left" data-bind='visible: is_rtl_mode(), click: cancel_btn' aria-hidden="true">{{ _('cancel') }}</a>
            <a class="btn pull-left" data-bind='visible: !is_rtl_mode(), click: cancel_btn' aria-hidden="true">{{ _('Cancel Laser Job') }}</a>
            <h4 class="pull-right" data-bind='visible: !is_fan_connected()'>Plugin air filter system</h4>
            <h4 class="pull-right" data-bind='visible: !interlocks_closed() && is_fan_connected()'>Close the lid</h4>
            <h4 class="pull-right" data-bind='visible: interlocks_closed() && is_fan_connected()'>Press the button to
                <span class="dev_start_button" data-bind='visible: is_rtl_mode()'>start</span>
                <span class="dev_start_button" data-bind='visible: !is_rtl_mode()'>continue</span>
            </h4>
        </div>
    </div>

    <div data-bind='visible: is_cooling_mode() && interlocks_closed()'>
        <div class="modal-header">
            <h3 >{{ _('Cooling') }}</h3>
        </div>
        <div class="modal-body">
            <img src="/plugin/mrbeam/static/img/cooling.jpg">
            <h5 >Mr Beam need a short break to cool down. We'll continue the laser job as soon as possible. There's nothing you need to do at the moment.</h5>
        </div>
        <div class="modal-footer">
            <a class="btn pull-left" data-bind='click: cancel_btn' aria-hidden="true">{{ _('Cancel Laser Job') }}</a>
            <h4 class="pull-right" data-bind='visible: !interlocks_closed()'>Close the lid</h4>
            <h4 class="pull-right" data-bind='visible: interlocks_closed'>Just relax</h4>
        </div>
    </div>

</div>
