<div id="ready_to_laser_dialog" class="modal hide fade" >
    <div class="modal-header">
        <a href="#" class="close" data-bind='visible: allow_canceling' data-dismiss="modal" aria-hidden="true">&times;</a>
        <h3>{{ _('Ready To Laser?') }}</h3>
    </div>
    <div class="modal-body">
        <img data-bind='visible: interlocks_open' src="/plugin/mrbeam/static/img/closelid.jpg">
        <img data-bind='visible: interlocks_closed' src="/plugin/mrbeam/static/img/onebutton.jpg">
        <h5 data-bind='visible: interlocks_open'>Please close the lid completely before we can proceed.</h5>
        <h5 data-bind='visible: interlocks_closed'>Everything is ready to go.</h5>
    </div>
    <div class="modal-footer">
        <a class="btn pull-left" data-bind='visible: allow_canceling' data-dismiss="modal" aria-hidden="true">{{ _('cancel') }}</a>
        <h4 class="pull-right" data-bind='visible: interlocks_open'>Close the lid</h4>
        <h4 class="pull-right" data-bind='visible: interlocks_closed'>Press the button to start</h4>
    </div>
</div>
