<div id="review_dialog" class="modal hide fade" data-backdrop="static">
    <div>
        <div class="modal-header">
            <a href="#" class="close" data-bind='click: exitBtn' aria-hidden="true">&times;</a>
            <h3>{{ _('Review please!') }}</h3>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="review_text_area">How can we improve?</label>
                <textarea class="form-control" id="review_textarea" rows="4"></textarea>
            </div>
            <h5>{{ _('Thank you <3') }}</h5>
        </div>
        <div class="modal-footer">
            <a class="btn btn-primary" id="review_done_btn" data-bind='click: exitBtn' aria-hidden="true">{{ _('OK') }}</a>
        </div>
    </div>
</div>
