<div id="review_dialog" class="modal hide fade" data-backdrop="static">
    <div>
        <div class="modal-body">
            <a href="#" class="close" data-bind='click: exitBtn' aria-hidden="true">&times;</a>
            <div id="rating_block">
                <h3 style="display: flex; justify-content: center">{{ _('How happy are you with your Mr Beam II?') }}</h3>
                <div class="rating" style="display: flex; justify-content: center; margin: 35px 0 20px 0;">
                    <span class="star" value="5"></span><span class="star" value="4"></span><span class="star" value="3"></span><span class="star" value="2"></span><span value="1" class="star"></span>
                </div>
            </div>
            <div id="review_how_can_we_improve" class="form-group" style="display: none;">
                <h3 style="display: flex; justify-content: center">How can we improve?</h3>
                <label for="review_textarea" style="margin: auto 20px 15px 20px;">We are sorry to hear that you are not completely happy with your Mr Beam II, please share your thoughts with us so we can keep improving:</label>
                <textarea class="form-control" id="review_textarea" rows="4" style="display: flex; margin-left: auto; margin-right: auto; width: 90%;"></textarea>
            </div>
            <div id="review_thank_you" style="display: none;">
                <h3 style="display: flex; justify-content: center">Wow, thank you!</h3>
                <p>It would be great if you could leave us a nice comment in <a id="give_review_link" href="https://www.mr-beam.org/en/" target="_blank">Mr Beam's web page</a></p>
            </div>
        </div>
        <div class="modal-footer">
            <a id="dont_ask_review_link" class="btn btn-link" data-bind="click:exitAndDontShowAgain" style="color: dimgray">Don't ask me again</a>
            <a id="review_done_btn" class="btn btn-primary" data-bind='click: exitBtn' aria-hidden="true">{{ _('OK') }}</a>
        </div>
    </div>
</div>
