{#    Download link is language specific  #}
{% set mrbeamorg_downloads = _('https://mr-beam.org/en/downloads/') %}

<div class="hide" id="software_channel_selector">
    <h3 style="display: inline">{{ _('Software Channel') }}:</h3>
    <select id="software_channel_select" data-bind="value: selector, options: available_channels, optionsText: 'name', optionsValue: 'id', event: { change: selection_changed }"></select>
    <div id="settings_software_channel_descriptions" class="row">
        <div class="control-group span6 ">
            <h5><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>{{ _('Stable Channel') }}: </h5>
            <p>{{ _('Use the most stable software for your Mr&nbsp;Beam. You will only get notified about officially released and well tested software updates.') }}</p>
            <p>{{ _('You can also download the latest STABLE software update at %(opening_tag)smr-beam.org/downloads%(closing_tag)s and update your Mr&nbsp;Beam per USB stick.',
                    opening_tag= '<a href="' + mrbeamorg_downloads + '" target="_blank" style="white-space:nowrap;"><i class="icon-external-link"></i>&nbsp;',
                    closing_tag='</a>'
                    ) }}</p>
        </div>
        <div class="control-group span6">
            <h5><i class="fa fa-flask" aria-hidden="true"></i>{{ _('Beta Channel') }}: </h5>
            <p>{{ _('Get the latest Mr&nbsp;Beam development! In this channel you can try the newest features even before they are officially released, with more frequent updates. Use this if you are curious, you can always switch back to the stable channel if you experience errors.') }}</p>
        </div>
    </div>
</div>
