{# some styles get broken when packed into one css file. As a hackaround, we put those styles here #}
<style>
    .userText.designHighlight text,
    .userText.designHighlight tspan,
    .userSVG.designHighlight .vector_outline:not([stroke]),
    .userIMG.designHighlight {
        filter: url(#designHighlight);
    }
</style>
