
				<div class="tab-pane" id="mrb_term">

					<div class="container-fluid">
						<div class="row-fluid">
							<div class="span4 accordion">
								<div class="accordion-group" >
									<div class="accordion-heading">
										<a class="accordion-toggle" data-toggle="collapse" href="#terminal_filters"><i class="icon-filter"></i> {{ _('Terminal filters') }}</a>
									</div>
                                    <div id="terminal_filters" class="accordion-body in collapse">
                                        <div class="accordion-inner">
                                            <div data-bind="foreach: terminal.filters">
                                                <label class="checkbox">
                                                    <input type="checkbox" data-bind="attr: { value: regex }, checked: $parent.terminal.activeFilters"> <span data-bind="text: name"></span>
                                                </label>
                                            </div>

                                            <div class="muted" data-bind="text: terminal.lineCount"></div>
                                        </div>
                                    </div>
                                </div>

								<div class="accordion-group" >
									<div class="accordion-heading">
										<a class="accordion-toggle" data-toggle="collapse" href="#gcode_reference"><i class="icon-info-sign"></i> {{ _('GCode reference') }}</a>
									</div>

                                    <div id="gcode_reference" class="accordion-body in collapse">
                                        <div class="accordion-inner">
                                            <ul class="scrollable">
                                                <li>
                                                    <span class="gcommand">G0</span>:
                                                    <span class="desc">{{ _('rapid position move') }}</span>
                                                    <div class="params">{{ _('parameters:') }} X,Y</div>
                                                    <div class="example">{{ _('example:') }} G0 X100 Y0</div>
                                                </li>
                                                <li>
                                                    <span class="gcommand">F</span>:
                                                    <span class="desc">{{ _('set feedrate for') }} G1,G2,G3</span>
                                                    <div class="params">{{ _('parameters: value') }}</div>
                                                    <div class="example">{{ _('example:') }} F300</div>
                                                </li>
                                                <li>
                                                    <span class="gcommand">S</span>:
                                                    <span class="desc">{{ _('set laser intensity for') }} G1,G2,G3</span>
                                                    <div class="params">{{ _('parameters: value 0-1300') }}</div>
                                                    <div class="example">{{ _('example:') }} S1300</div>
                                                </li>
                                                <li>
                                                    <span class="gcommand">G1</span>:
                                                    <span class="desc">{{ _('work move, line') }}</span>
                                                    <div class="params">{{ _('parameters:') }} X,Y,F</div>
                                                    <div class="example">{{ _('example:') }} G1 X100 Y0 F800</div>
                                                </li>
                                                <li>
                                                    <span class="gcommand">G2</span>:
                                                    <span class="desc">{{ _('work move, arc clockwise') }}</span>
                                                    <div class="params">{{ _('parameters:') }} X,Y,I,J,F</div>
                                                    <div class="example">{{ _('example:') }} G2 X10 Y10 I8 J5</div>
                                                </li>
                                                <li>
                                                    <span class="gcommand">G3</span>:
                                                    <span class="desc">{{ _('work move, arc counterclockwise') }}</span>
                                                    <div class="params">{{ _('parameters:') }} X,Y,I,J,F</div>
                                                    <div class="example">{{ _('example:') }} G3 X10 Y10 I8 J5</div>
                                                </li>
                                                <li>
                                                    <span class="gcommand">G4</span>:
                                                    <span class="desc">{{ _('dwell, pause') }}</span>
                                                    <div class="params">{{ _('parameters: value in seconds') }} P</div>
                                                    <div class="example">{{ _('example:') }} G4 P0.5</div>
                                                </li>
                                                <li>
                                                    <span class="gcommand">M3</span>:
                                                    <span class="desc">{{ _('laser on') }}</span>
                                                    <div class="params">{{ _('parameters:') }} S</div>
                                                    <div class="example">{{ _('example:') }} M3 S10</div>
                                                </li>
                                                <li>
                                                    <span class="gcommand">M5</span>:
                                                    <span class="desc">{{ _('laser off') }}</span>
                                                    <div class="params">{{ _('parameters:') }} -</div>
                                                    <div class="example">{{ _('example:') }} M5</div>
                                                </li>
{#                                                <li>#}
{#                                                    <span class="gcommand">M8</span>:#}
{#                                                    <span class="desc">{{ _('fan on') }}</span>#}
{#                                                    <div class="params">{{ _('parameters:') }} -</div>#}
{#                                                    <div class="example">{{ _('example:') }} M8</div>#}
{#                                                </li>#}
{#                                                <li>#}
{#                                                    <span class="gcommand">M9</span>:#}
{#                                                    <span class="desc">{{ _('fan off') }}</span>#}
{#                                                    <div class="params">{{ _('parameters:') }} -</div>#}
{#                                                    <div class="example">{{ _('example:') }} M9</div>#}
{#                                                </li>#}
                                                <li>
                                                    <span class="gcommand">M100</span>:
                                                    <span class="desc">{{ _('compressor state (dreamcut only)') }}</span>
                                                    <div class="params">{{ _('parameters:') }} P</div>
                                                    <div class="example">{{ _('example:') }} M100P100</div>
                                                </li>
                                                <li>
                                                    <span class="gcommand">M2</span>:
                                                    <span class="desc">{{ _('machine off') }}</span>
                                                    <div class="params">{{ _('parameters:') }} -</div>
                                                    <div class="example">{{ _('example:') }} M2</div>
                                                </li>
                                                <li>
                                                    <span class="gcommand">G90</span>:
                                                    <span class="desc">{{ _('absolute coordinate mode') }}</span>
                                                    <div class="params">{{ _('parameters:') }} -</div>
                                                    <div class="example">{{ _('example:') }} G90</div>
                                                </li>
                                                <li>
                                                    <span class="gcommand">G91</span>:
                                                    <span class="desc">{{ _('relative coordinate mode') }}</span>
                                                    <div class="params">{{ _('parameters:') }} -</div>
                                                    <div class="example">{{ _('example:') }} G91</div>
                                                </li>
                                                <li>
                                                    <span class="gcommand">G92</span>:
                                                    <span class="desc">{{ _('set coordinate origin') }}</span>
                                                    <div class="params">{{ _('parameters:') }} X,Y</div>
                                                    <div class="example">{{ _('example:') }} G92 X0 Y0</div>
                                                </li>
                                                <li>
                                                    <span class="gcommand">G20</span>:
                                                    <span class="desc">{{ _('set units to inches') }}</span>
                                                    <div class="params">{{ _('parameters:') }} -</div>
                                                    <div class="example">{{ _('example:') }} G20</div>
                                                </li>
                                                <li>
                                                    <span class="gcommand">G21</span>:
                                                    <span class="desc">{{ _('set units to millimeters') }}</span>
                                                    <div class="params">{{ _('parameters:') }} -</div>
                                                    <div class="example">{{ _('example:') }} G21</div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
							</div>
							<div class="span8 ">
								<pre id="terminal-output" class="pre-scrollable scrollable full-tab-height" data-bind="foreach: terminal.displayedLines"><span data-bind="text: line, css: {muted: type == 'filtered'}"></span><br></pre>
								<div class="input-append" style="display: none;" data-bind="visible: loginState.isUser">
									<input type="text" id="terminal-command" style="width:88%;" data-bind="value: terminal.command, event: { keyup: function(d,e) { return terminal.handleKeyUp(e); }, keydown: function(d,e) { return terminal.handleKeyDown(e); } }, enable: loginState.isUser()">
									<button class="btn" type="button" id="terminal-send" data-bind="click: terminal.sendCommand">{{ _('Send') }}</button>
								</div>
							</div>

						</div>
					</div>
				</div>
