<div class="tab-pane" id="messages">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span4">
                <div class="mrb-messages-container rounded_container">
                    <h1 class="mrb-messages-title">{{ _('Messages From Mr Beam') }}</h1>
                    <div class="mrb-message-list" data-bind="foreach: messages">
                        <div data-bind="css: { 'mrb-message-read': read }">
                            <div class="mrb-message-element rounded_container" data-test="tab-message-list-message" 
                                 data-bind="css: { selected: $index() == $root.selectedIndex() }, click: function(data, event) { $root.onIndexSelected($index(), data, event) }">
                                <h5 class="mrb-message-title" data-bind="text: content.title"></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="span8">
                <!-- ko if: $root.selectedIndex() == undefined -->
                <div id="no-mrb-messages-selected">
                    <h1> {{ _('No Messages selected') }} </h1>
                </div>
                <!-- /ko -->
                <div id="mrb-message-view" data-bind="with: $root.messages()[$root.selectedIndex()]">
                    <div class="mrb-message-content">
                        <div data-bind="visible: images[0] != undefined">
                            <div class="row-fluid">
                                <div class="span12">
                                    <h2 class="mrb-message-content-title"
                                        data-bind="text: content.title"></h2>
                                    <div class="mrb-message-date" data-bind="text: date"></div>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span6">
                                    <div class="mrb-message-text-container rounded_container" data-test="tab-message-message-content">
                                        <div class="mrb-message-text">
                                            <span style="white-space: pre-wrap" data-bind="text: content.body"></span>
                                        </div>
                                        <div class="cta" data-bind="visible: content.cta_url">
                                            <a href="#" target="_blank"
                                               data-bind="text:content.cta_label, attr: { href: content.cta_url }"></a>
                                        </div>
                                        <div class="thumbnail-list">
                                            <ul class="thumbnails"
                                                data-bind="foreach: { data: images, as: 'img' }">
                                                <li>
                                                    <a href="#"
                                                       class="thumbnail">
                                                        <div class="preview"
                                                             data-bind="click: $root.selectImage, style: {'background-image': 'url('+img+')' }">
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="span6">
                                    <div class="single-design-img-gallery rounded_container">
                                        <div class="inner-container">
                                            <div class="design-img-container rounded_container">
                                                <div id="design-img-preview"
                                                     data-bind="style: {'background-image': 'url('+images[0]+')' }">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-bind="visible: images[0] == undefined">
                            <div class="row-fluid">
                                <div class="span12">
                                    <h2 class="mrb-message-content-title"
                                        data-bind="text: content.title"></h2>
                                    <div class="mrb-message-date" data-bind="text: date"></div>
                                    <div class="mrb-message-text-container no-img rounded_container" data-test="tab-message-message-content-no-img">
                                        <div class="mrb-message-text">
                                            <span style="white-space: pre-wrap" data-bind="text: content.body"></span>
                                        </div>
                                        <div class="cta" data-bind="visible: content.cta_url">
                                            <a href="#" target="_blank"
                                               data-bind="text:content.cta_label, attr: { href: content.cta_url }"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
