				{# This file should not be translated, not used #}
                <div class="tab-pane" id="focus">
					<div class="container-fluid">
						<div class="row-fluid">
							<div class="span4">
								<ul class="focus_steps">
									<li>1. Place your material on the working area</li>
									<li>2. Move the laser over the material</li>
									<li>3. Put on your safety glasses</li>
									<li>4. Turn the laser safety switch to on</li>
									<li>&RightArrow; Now enable the focus mode</li>
									<li>5. Adjust the focus until the laser beam is as small as possible</li>
									<li>&RightArrow; Disable the focus mode. </li>
								</ul>
								<div style="text-align:center">
								<div class="btn-group" role="group" aria-label="focus mode control" style="">
									<button id="btn_focus_on" class="btn btn-danger" data-bind="enable: state.isOperational() && !state.isPrinting() && loginState.isUser(), click: control.focus_on ">Enable Focus</button>
									<button id="btn_focus_off" class="btn btn-default" data-bind="enable: state.isOperational() && !state.isPrinting() && loginState.isUser(), click: control.focus_off ">Disable Focus</button>
								</div>
								</div>

								<div style="text-align:center" data-bind="visible: control.showZAxis">
									<div class="jog-panel" id="control_zaxis_focus">

										Z-Axis
										<div class="btn-group-vertical" role="group" aria-label="z-axis control">
											<button class="btn box" data-bind="enable: state.isOperational() && !state.isPrinting() && loginState.isUser(), click: function() { control.sendJogCommand('z',1) }"><i class="icon-arrow-up"></i></button>
											<button class="btn box" data-bind="enable: state.isOperational() && !state.isPrinting() && loginState.isUser(), click: function() { control.sendJogCommand('z',-1) }"><i class="icon-arrow-down"></i></button>
										</div>
									</div>
								</div>

							</div>
							<div class="span8">
								<div class="focus" id="focus_description">
								</div>
							</div>
						</div>
					</div>
				</div>

