
				<div class="tab-pane" id="designlib">
					<div class="container-fluid">
						<div class="row-fluid" id="files_wrapper">
							<div class="span4">

								<div id="design_lib_search" class="file_managing_container rounded_container">
{#									<div class="accordion-heading">#}
{#										<span class="accordion-toggle" ><i class="icon-list"></i> {{ _('Files') }}</span>#}
{#										<!--<a class="accordion-toggle" data-toggle="collapse" href="#files_search" style="text-decoration: none;"><i class="icon-search dropdown-toggle"></i><span class="caret" style="margin: .5em;"></span></a>-->#}
{##}
{#									</div>#}
									<div id="bulkActions" class="accordion" style="display:none;">
										<div class="description">
											<div class="description_head"><span data-bind="text:selectedFiles"></span> {{ _('selected') }}</div>
											<div class="description_details"><span data-bind="text:selectedFilesTypes"></span></div>
											<div class="description_details">{{ _('Total size') }}:<span data-bind="text:formatSize(selectedFilesSize())"></span></div>
										</div>
										<div class="action_btns">
											<div class="btn-group">
												<a class="btn btn-danger" href="#" data-bind="click: function() { if ($root.enableRemove($data)) { $root.deleteSelection(); } else { console.warn('Insufficient permissions to delete files!'); return; } }, css: {disabled: !$root.enableRemove($data)}"><i class="icon icon-trash"></i> {{ _('Delete Selection') }}</a>
												<a class="btn btn-link"  href="#" data-bind="click: $root.cancelSelection"><i class="icon icon-remove"></i> {{ _('Unselect all') }}</a>
											</div>
										</div>
									</div>
									<div id="files_search" class="">
										<form class="form-search" data-bind="submit: performSearch">
											<input type="text" style="width:94%;" class="input-block search-query" data-bind="value: searchQuery, valueUpdate: 'input'" placeholder="{{ _('Search...') }}">
										</form>
									</div>
									<ul class="file_list_filter" id="files_filter">
                                        <div><strong>{{ _('Sort') }}</strong></div>
										<li><input type="radio" name="designLibSorting" id="design_lib_sort_name_radio" data-bind="click: function() { $root.listHelper.changeSorting('name'); return true;}" />{{ _('Name') }} ({{ _('ascending') }})</li>
										<li><input type="radio" name="designLibSorting" id="design_lib_sort_upload_radio" data-bind="click: function() { $root.listHelper.changeSorting('upload'); return true;}" />{{ _('Upload date') }} ({{ _('descending') }})</li>
                                        <li><input type="radio" name="designLibSorting" id="design_lib_sort_size_radio" data-bind="click: function() { $root.listHelper.changeSorting('size'); return true;}" />{{ _('File size') }} ({{ _('descending') }})</li>
                                        <br>
                                        <div><strong>{{ _('Filter') }}</strong></div>
                                        <li><input type="radio" name="designLibFilter" id="design_lib_filter_design_radio" data-bind="click: function() { $root.setFilter('design'); return true;}" />{{ _('Design files') }}</li>
										<li><input type="radio" name="designLibFilter" id="design_lib_filter_gcode_radio" data-bind="click: function() { $root.setFilter('machinecode'); return true;}" />{{ _('GCode files') }}</li>
                                        <li><input type="radio" name="designLibFilter" id="design_lib_filter_recent_radio" data-bind="click: function() { $root.setFilter('recentjob'); return true;}" />{{ _('Recent jobs') }}</li>
									</ul>
									<div class="muted text-right">
										<small>{{ _('Free') }}: <span data-bind="text: freeSpaceString"></span></small>
									</div>
									<div style="display: none;" data-bind="visible: loginState.isUser">
										<div class="row-fluid upload-buttons">

											<span class="btn fileinput-button " data-bind="css: {disabled: !$root.loginState.isUser(), span12: !hasCamera(), span8: hasCamera()}" style="margin-bottom: 10px">
												<i class="icon-upload-alt icon-white"></i>
												<span>{{ _('Upload') }}</span>
												<input id="gcode_upload" type="file" name="file" class="fileinput-button" data-bind="enable: loginState.isUser()">
											</span>
											<a class="btn btn-primary span4" href="#" role="button" data-bind="visible:hasCamera(), css: {disabled: !$root.loginState.isUser()}, click: takePhoto" >
												<i class="icon-camera icon-white"></i>
												<span>{{ _('Photo') }}</span>
											</a>
										</div>
										<div id="gcode_upload_progress" class="progress" style="width: 100%;">
											<div class="bar" style="width: 0%"></div>
										</div>
										<div>
											<small>{{ _('Hint: You can also drag and drop files on this page to upload them.') }}</small>
										</div>
									</div>
								</div>
							</div>
							<div class="span8">
								<div class="designlib" >
									<div id="files" >
										<div class="folder_navigation clearfix">
											<div class="entry back pull-left" data-bind="visible: currentPath() != ''" style="display: none">
												<a class="back-arrow btn-link" data-bind="click: function() { $root.cancelSelection(); $root.navigateUp(); }">
													<i class="fa fa-arrow-left"></i> {{  _('Back') }}
												</a>  |
												<span class="back-path muted">{{ _('Currently in') }} <span data-bind="text: currentPath"></span></span>
											</div>
											<a class="btn-link addfolder-button pull-right" data-bind="
												click: function() { if ($root.loginState.isUser()) { $root.showAddFolderDialog(); } },
												css: {disabled: !$root.loginState.isUser()}">
												{{ _('Add Folder') }} <i class="icon icon-plus-sign"></i>
											</a>
										</div>
										<div id="files_list" style="height: calc(100vh - 100px); overflow-y: auto;">

											<div class="only_folders clearfix">
												<div class="gcode_files" data-bind="foreach: foldersOnlyList" >
													<div class="entry" data-bind="attr: { id: $root.getEntryId($data), mrb_name: name }, template: { name: $root.templateFor($data), data: $data }, css:$root.templateFor($data)"></div>
												</div>
											</div>
											<div class="only_files">
												<div class="gcode_files" data-bind="foreach: filesOnlyList" >
													<div class="entry" data-bind="attr: { id: $root.getEntryId($data) }, template: { name: $root.templateFor($data), data: $data }, css:$root.templateFor($data)"></div>
												</div>

													<script type="text/html" id="files_template_machinecode_gcode">
														<div class="file_list_entry icon_card rounded_container">
															<div class="selection_box"  data-bind="click: function(data, ev){$root.updateSelection($data, ev)}"><i class="icon icon-ok"></i></div>
															<div class="preview" data-bind="
																click: function() { if(!$root.workingArea.isPlaced($data)){ $root.workingArea.placeGcode($data); $('#wa_tab_btn').tab('show'); } },
																css: {disabled: $root.workingArea.isPlaced($data)}
																" ><i class="icon-cog"></i></div>
															<div class="title dropdown dropup" >
																<span class="title_shortened" data-bind="css: $root.getSuccessClass($data), style: { 'font-weight': $root.listHelper.isSelected($data) ? 'bold' : 'normal' }, text: name, attr: {title: name}" ></span>
																<a type="button" class="dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false">
																	<i class="icon-reorder pull-right"></i>
																</a>
																<ul class="dropdown-menu dropdown-menu-right" role="menu">
																	<li>
																		<a class="" data-bind="attr: {href: $root.downloadLink($data), css: {disabled: !$root.downloadLink($data)}}"><i class="icon-download-alt" title="{{ _('Download') }}"></i> {{ _('Download') }}</a>
																	</li>
																	<li>
																		<a class="" data-bind="click: function() { if ($root.enableRemove($data)) { $root.removeFile($data); } else { return; } }, css: {disabled: !$root.enableRemove($data)}"><i class="icon-trash" title="{{ _('Remove') }}"></i> {{ _('Remove') }}</a>
																	</li>
																	 <li class="divider"></li>
																	<li class="uploaded">{{ _('Uploaded') }}: <span data-bind="text: formatTimeAgo(date)"></span></li>
																	<li class="size">{{ _('Size') }}: <span data-bind="text: formatSize(size)"></span></li>
																</ul>
															</div>
														</div>
													</script>

													<script type="text/html" id="files_template_model_svg">
														<div class="file_list_entry preview_card rounded_container" data-bind="attr: {mrb_name: name}">
															<div class="selection_box"  data-bind="click: function(data, ev){$root.updateSelection($data, ev)}"><i class="icon icon-ok"></i></div>
															<div class="preview" data-bind="
																style: { 'background-image': 'url('+$root.downloadLink($data)+')' },
																click: function() { if(!$root.workingArea.isPlaced($data)){ $root.workingArea.placeSVG($data); $('#wa_tab_btn').tab('show'); } },
																css: {disabled: $root.workingArea.isPlaced($data)}
																" ></div>
															<div class="title dropdown dropup" >
																<span class="title_shortened" data-bind="text: name, attr: {title: name}" ></span>
																<a type="button" class="dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false">
																	<i class="icon-reorder pull-right"></i>
																</a>
																<ul class="dropdown-menu dropdown-menu-right" role="menu">
																	<li>
																		<a class="" data-bind="attr: {href: $root.downloadLink($data), css: {disabled: !$root.downloadLink($data)}}"><i class="icon-download-alt" title="{{ _('Download') }}"></i> {{ _('Download') }}</a>
																	</li>
																	<li>
																		<a class="" data-bind="click: function() { if ($root.enableRemove($data)) { $root.removeFile($data); } else { return; } }, css: {disabled: !$root.enableRemove($data)}"><i class="icon-trash" title="{{ _('Remove') }}"></i> {{ _('Remove') }}</a>
																	</li>
																	 <li class="divider"></li>
																	<li class="uploaded">{{ _('Uploaded') }}: <span data-bind="text: formatTimeAgo(date)"></span></li>
																	<li class="size">{{ _('Size') }}: <span data-bind="text: formatSize(size)"></span></li>
																</ul>
															</div>
														</div>
													</script>

													<script type="text/html" id="files_template_recentjob_svg">
														<div class="file_list_entry preview_card recentjob rounded_container" data-bind="attr: {mrb_name: name}">
															<div class="selection_box"  data-bind="click: function(data, ev){$root.updateSelection($data, ev)}"><i class="icon icon-ok"></i></div>
															<div class="preview" data-bind="
																style: { 'background-image': 'url('+$root.downloadLink($data)+')' },
																click: function() { if(!$root.workingArea.isPlaced($data)){ $root.workingArea.placeSVG($data); $('#wa_tab_btn').tab('show'); } },
																css: {disabled: $root.workingArea.isPlaced($data)}
																" ></div>
															<div class="title dropdown dropup" >
																<span class="title_shortened" data-bind="text: name, attr: {title: name}" ></span>
																<a type="button" class="dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false">
																	<i class="icon-reorder pull-right"></i>
																</a>
																<ul class="dropdown-menu dropdown-menu-right" role="menu">
																	<li>
																		<a class="" data-bind="attr: {href: $root.downloadLink($data), css: {disabled: !$root.downloadLink($data)}}"><i class="icon-download-alt" title="{{ _('Download') }}"></i> {{ _('Download') }}</a>
																	</li>
																	<li>
																		<a class="" data-bind="click: function() { if ($root.enableRemove($data)) { $root.removeFile($data); } else { return; } }, css: {disabled: !$root.enableRemove($data)}"><i class="icon-trash" title="{{ _('Remove') }}"></i> {{ _('Remove') }}</a>
																	</li>
																	 <li class="divider"></li>
																	<li class="uploaded">{{ _('Created at') }}: <span data-bind="text: formatTimeAgo(date)"></span></li>
																	<li class="size">{{ _('Size') }}: <span data-bind="text: formatSize(size)"></span></li>
																</ul>
															</div>
														</div>
													</script>

													<script type="text/html" id="files_template_model_dxf">
														<div class="file_list_entry icon_card rounded_container">
															<div class="selection_box"  data-bind="click: function(data, ev){$root.updateSelection($data, ev)}"><i class="icon icon-ok"></i></div>
															<div class="preview" data-bind="
																click: function() { if(!$root.workingArea.isPlaced($data)){ $root.workingArea.placeDXF($data); $('#wa_tab_btn').tab('show'); } },
																css: {disabled: $root.workingArea.isPlaced($data)}
																" ><i class="icon-picture"></i></div>
															<div class="title dropdown dropup" >
																<span class="title_shortened" data-bind="text: name, attr: {title: name}" ></span>
																<a type="button" class="dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false">
																	<i class="icon-reorder pull-right"></i>
																</a>
																<ul class="dropdown-menu dropdown-menu-right" role="menu">
																	<li>
																		<a class="" data-bind="attr: {href: $root.downloadLink($data), css: {disabled: !$root.downloadLink($data)}}"><i class="icon-download-alt" title="{{ _('Download') }}"></i> {{ _('Download') }}</a>
																	</li>
																	<li>
																		<a class="" data-bind="click: function() { if ($root.enableRemove($data)) { $root.removeFile($data); } else { return; } }, css: {disabled: !$root.enableRemove($data)}"><i class="icon-trash" title="{{ _('Remove') }}"></i> {{ _('Remove') }}</a>
																	</li>
																	 <li class="divider"></li>
																	<li class="uploaded">{{ _('Uploaded') }}: <span data-bind="text: formatTimeAgo(date)"></span></li>
																	<li class="size">{{ _('Size') }}: <span data-bind="text: formatSize(size)"></span></li>
																</ul>
															</div>
														</div>
													</script>

													<script type="text/html" id="files_template_model_image">
														<div class="file_list_entry preview_card rounded_container" data-bind="attr: {mrb_name: name}">
															<div class="selection_box"  data-bind="click: function(data, ev){$root.updateSelection($data, ev)}"><i class="icon icon-ok"></i></div>
															<div class="preview" data-bind="
																style: { 'background-image': 'url('+$root.downloadLink($data)+')' },
																click: function() { if(!$root.workingArea.isPlaced($data)){ $root.workingArea.placeIMG($data); $('#wa_tab_btn').tab('show'); } },
																css: {disabled: $root.workingArea.isPlaced($data)}
																" ></div>
															<div class="title dropdown dropup" >
																<span class="title_shortened" data-bind="text: name, attr: {title: name}" ></span>
																<a type="button" class="dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false">
																	<i class="icon-reorder pull-right"></i>
																</a>
																<ul class="dropdown-menu dropdown-menu-right" role="menu">
																	<li>
																		<a class="" data-bind="attr: {href: $root.downloadLink($data), css: {disabled: !$root.downloadLink($data)}}"><i class="icon-download-alt" title="{{ _('Download') }}"></i> {{ _('Download') }}</a>
																	</li>
																	<li>
																		<a class="" data-bind="click: function() { if ($root.enableRemove($data)) { $root.removeFile($data); } else { return; } }, css: {disabled: !$root.enableRemove($data)}"><i class="icon-trash" title="{{ _('Remove') }}"></i> {{ _('Remove') }}</a>
																	</li>
																	 <li class="divider"></li>
																	<li class="uploaded">{{ _('Uploaded') }}: <span data-bind="text: formatTimeAgo(date)"></span></li>
																	<li class="size">{{ _('Size') }}: <span data-bind="text: formatSize(size)"></span></li>
																</ul>
															</div>
														</div>
													</script>

													<script type="text/html" id="files_template_model_dummy">
														<div class="file_list_entry">
														</div>
													</script>

													<script type="text/html" id="files_template_model_stl">
														<div class="file_list_entry">
														</div>
													</script>

													<script type="text/html" id="files_template_folder">
														<div class="file_list_entry folder">
															<div class="selection_box"  data-bind="click: function(data, ev){$root.updateSelection($data, ev)}, clickBubble: false;"><i class="icon icon-ok"></i></div>
															<div class="preview" data-bind=" click: function(data){ $root.cancelSelection(); $root.changeFolder(data); }"></div>
															<div class="title dropdown dropup">
																<span class="title_shortened" data-bind="text: display, attr: {title: name}, style: { 'font-weight': $root.listHelper.isSelected($data) ? 'bold' : 'normal' " ></span>
																<a type="button" class="dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false">
																	<i class="icon-reorder pull-right"></i>
																</a>
																<ul class="dropdown-menu dropdown-menu-right" role="menu">
																	<li>
																		<a class="" data-bind="click: function() { if ($root.enableRemove($data)) { $root.removeFolder($data); } else { return; } }, css: {disabled: !$root.enableRemove($data)}"><i class="icon-trash" title="{{ _('Remove') }}"></i> {{ _('Remove') }}</a>
																			<!-- data-bind="visible: $root.loginState.hasPermissionKo($root.access.permissions.FILES_DELETE),
																							click: function(data, event) { if ($root.enableRemove($data)) { $root.removeFolder($data, event); } else { return; } },
																							css: {disabled: !$root.enableRemove($data)}"
																			-->
																	</li>
																</ul>
															</div>

															<!--<div class="internal" data-bind="visible: name != display">{{ _('Internal') }}: <span data-bind="text: name"></span></div>-->
														</div>
													</script>

											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
