<div id="take_photo_dialog" class="modal hide fade" >
    <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
        <h3>{{ _('Please smile') }}</h3>
    </div>
    <div class="modal-body">
        <div id="photo_preview"></div>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">{{ _('Cancel') }}</a>
    </div>
</div>