include README.md
include versioneer.py
include octoprint_mrbeam/_version.py
graft octoprint_mrbeam/templates
graft octoprint_mrbeam/static
graft octoprint_mrbeam/state
graft octoprint_mrbeam/translations
graft octoprint_mrbeam/scripts
