# The tags can be changed here (after @):
git+https://${PERSONAL_ACCESS_TOKEN}@github.com/mrbeam/mrb3-doc.git@alpha#egg=MrBeamDoc
git+https://github.com/mrbeam/OctoPrint.git@feature/SW-1030-octoprint-upgrade-to-latest-v-1-x#egg=OctoPrint

mock
numpy
opencv-python
Pillow
pre-commit
pylint
pytest
pytest-datafiles
pytest-mock
requests-mock
selenium
webdriver-manager
pytest-cov
pytest-html
python-statemachine