<div id="temperature_warning_modal" class="modal hide fade" data-backdrop="static">
    <div class="modal-header">
        <h3>{{ _('Temperature Warning, please check your Mr Beam!') }}</h3>
    </div>
    <div class="modal-body">
        <p>{{ _("Despite that the laser head is making a cooling break, the temperature in the device is increasing steadily.") }}</p>
            <img src="/plugin/mrbeam/static/img/temperature_warning.png">
            <p>{{ _('Attention: This can be a hint towards a fire. Check on your Mr Bean immediately and make sure, everything is alright.') }}</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary"
                aria-hidden="true" data-bind="click: $root.dismissTemperatureWarning">{{ _('All good!') }}</button>
    </div>
</div>
