<h3>{{ _('Hello!') }}</h3>

<p>
    {% trans %}
        <strong>Thank you for buying Mr Beam II, the friendly desktop laser cutter!</strong>
    {% endtrans %}
</p>

<p>
    {% trans %}
        This wizard will lead you through the final steps to get your Mr Beam II all setup and ready to go. We'll get you lasering in no time!
    {% endtrans %}
</p>
