<h3>{{ _('Hello!') }}</h3>

{% trans %}
    Thank you for buying the Mr Beam 2 laser cutter! This wizard will lead you through the
    final steps to get your Mr Beam 2 all setup and ready to go. We'll
    get you lasering in no time!
{% endtrans %}
