
<img src="/plugin/mrbeam/static/img/welcome_dialog/end.png">

<h3>{{ _('Done!') }}</h3>

<p>
    What next? Check out our different resources to get the best out of your Mr Beam:
</p>

<table style="width:100%; text-align:center;">
    <tr>
        <td><img id="wizard_welcome_done_support_icon" src="/plugin/mrbeam/static/img/welcome_dialog/support_icon.png"></td>
        <td><img id="wizard_welcome_done_tour_icon" src="/plugin/mrbeam/static/img/welcome_dialog/tour_icon.png"></td>
        <td><img id="wizard_welcome_done_youtube_icon" src="/plugin/mrbeam/static/img/welcome_dialog/youtube_icon.png"></td>
    </tr>
    <tr>
            <td>{{ _('Let\'s take a %(a_strong_open)stour%(a_strong_close)s together to get your first laser job done.', a_strong_open='<a href="https://mr-beam.freshdesk.com/en/support/solutions" target="_blank"><strong>', a_strong_close='</strong></a>') }}</td>
            <td>{{ _('Check our %(a_strong_open)sYoutube channel%(a_strong_close)s to find tutorials and practical tips for you.', a_strong_open='<a href="https://www.youtube.com/channel/UC8CIMavXllp6S61JgEqSm4A" target="_blank"><strong>', a_strong_close='</strong></a>') }}</td>
            <td>{{ _('Do you want to know what to do if you need help? Visit our %(a_strong_open)sKnowledge Base%(a_strong_close)s', a_strong_open='<a href="https://mr-beam.freshdesk.com/support/solutions" target="_blank"><strong>', a_strong_close='</strong></a>') }}</td>
        </tr>
</table>
