
<img loading="lazy" src="/plugin/mrbeam/static/img/welcome_dialog/end.png">

<h3>{{ _('Done!') }}</h3>

<p>
    {{ _('%(strong_open)sWhat\'s next?%(strong_close)s Check out our different resources to get the best out of your Mr Beam:', strong_open='<strong>', strong_close='</strong>') }}
</p>
<br>

{% include "support_genericbody.jinja2" %}
