<img src="/plugin/mrbeam/static/img/welcome_dialog/start.png">

<h3>{{ _('Welcome to the Mr Beam community!') }}</h3>

<p>
    {% trans %}
        This wizard will get your Mr Beam ready to work in no time.
    {% endtrans %}
</p>
