<h3>{{ _("Zoom") }}</h3>

<div>
    <div>
        <p>
            <strong>{{ _('See all the details of your working area') }}</strong>
        </p>
        <p>{{ _('Just open the "Preview" tab and scroll on the box to zoom in your working area.') }}</p>
        <img class="wizard-big-img" src="/plugin/mrbeam/static/img/whatsnew_dialog/zoom.png">
    </div>
</div>

