<img src="/plugin/mrbeam/static/img/welcome_dialog/acl.png">

<h3>{{ _('Access Control') }}</h3>



{% trans %}
    <h5>Please set up a user account for your Mr Beam II.</h5>

    <p><strong>Attention: Please remember your access data!</strong> <br/>
        For security reasons, you can only use your Mr Beam II after logging in with a user account.
        If you forget your access information, you'll need to contact the Mr Beam Support Team to reset your device.
    </p>
    <p>In the settings you can create additional user accounts, e.g. for family members, colleagues or friends.</p>

{% endtrans %}

<p><br/></p>


<form class="form-horizontal">
    <div class="control-group" data-bind="css: {success: doUserValidation() && validUsername(), error: doUserValidation() && !validUsername()}">
        <label class="control-label" for="first_run_username">{{ _('E-mail address') }}</label>
        <div class="controls">
            <input id="wizard_plugin_corewizard_acl_input_username" type="text" class="input-medium" data-bind="value: username, valueUpdate: 'afterkeydown', enable: !setup(), css: {disabled: setup()}">
            <span class="help-inline" data-bind="visible: doUserValidation() && !validUsername()">{{ _('Invalid e-mail address') }}</span>
        </div>
    </div>
    <div class="control-group" data-bind="css: {success: validPassword()}">
        <label class="control-label" for="first_run_username">{{ _('Password') }}</label>
        <div class="controls">
            <input id="wizard_plugin_corewizard_acl_input_pw1" type="password" class="input-medium" data-bind="value: password, valueUpdate: 'input', enable: !setup(), css: {disabled: setup()}">
        </div>
    </div>
    <div class="control-group" data-bind="css: {error: doPwMatchValidation() && passwordMismatch(), success: doPwMatchValidation() && validPassword() && !passwordMismatch()}">
        <label class="control-label" for="first_run_username">{{ _('Confirm Password') }}</label>
        <div class="controls">
            <input id="wizard_plugin_corewizard_acl_input_pw2" type="password" class="input-medium" data-bind="value: confirmedPassword, valueUpdate: 'input', enable: !setup(), css: {disabled: setup()}">
            <span class="help-inline" data-bind="visible: doPwMatchValidation() && passwordMismatch()">{{ _('Passwords do not match') }}</span>
        </div>
    </div>
</form>

