
<h3>{{ _("SVG Split") }}</h3>

<div class="wizard-content">
    <p><strong>{{ _('Split your SVG files in smaller pieces') }}</strong></p>
    <p>{{ _('Sometimes a downloaded design does not fit on your material - but with realignment of the single parts it would. Therefore you can split it now.') }}</p>

{#    <small class="muted">#}
{#        {{ _('') }}#}
{#    </small>#}

    <img class="wizard-big-img wizard-shadowed-img" src="/plugin/mrbeam/static/img/whatsnew_dialog/svg_split.png">

</div>
