
<h3>{{ _("New language") }}</h3>

<div>
    <p><strong>{{ _('Mr Beam can now also speak French!') }}</strong></p>
    <p>{{ _('When you connect to your Mr Beam, your browser\'s default language will be selected.') }}</p>

    <small class="muted">
        {{ _('You can manually select another language in the "User Settings" menu, under "Interface".') }}
    </small>

    <img class="wizard-big-img" src="/plugin/mrbeam/static/img/whatsnew_dialog/french.png">

</div>
