<h3>{{ _('Access Control') }}</h3>

{% trans %}<p>
    <strong>Please read the following, it is very important for the security of your Mr Beam 2!</strong>
</p>
<p>
    Your Mr Beam 2 is configured with a Access Control, meaning you won't be able to do anything with the
    laser cutter unless you login first as a configured user. This is to <strong>prevent strangers - possibly with
    malicious intent - to gain access to your laser cutter</strong> via the internet or another untrustworthy network
    and using it in such a way that it is damaged or worse (i.e. causes a fire).
</p>
<p>
    Please <strong>set up a user account with a password</strong> as the
    initial administrator account which will have full access to the Mr Beam 2:
</p>{% endtrans %}
<form class="form-horizontal">
    <div class="control-group" data-bind="css: {success: doUserValidation() && validUsername(), error: doUserValidation() && !validUsername()}">
        <label class="control-label" for="first_run_username">{{ _('E-mail address') }}</label>
        <div class="controls">
            <input id="wizard_plugin_corewizard_acl_input_username" type="text" class="input-medium" data-bind="value: username, valueUpdate: 'afterkeydown', enable: !setup(), css: {disabled: setup()}">
            <span class="help-inline" >{{ _('This login is case-sensitive!') }}</span>
            <span class="help-inline" data-bind="visible: doUserValidation() && !validUsername()">{{ _('Invalid e-mail address') }}</span>
        </div>
    </div>
    <div class="control-group" data-bind="css: {success: validPassword()}">
        <label class="control-label" for="first_run_username">{{ _('Password') }}</label>
        <div class="controls">
            <input id="wizard_plugin_corewizard_acl_input_pw1" type="password" class="input-medium" data-bind="value: password, valueUpdate: 'input', enable: !setup(), css: {disabled: setup()}">
        </div>
    </div>
    <div class="control-group" data-bind="css: {error: doPwMatchValidation() && passwordMismatch(), success: doPwMatchValidation() && validPassword() && !passwordMismatch()}">
        <label class="control-label" for="first_run_username">{{ _('Confirm Password') }}</label>
        <div class="controls">
            <input id="wizard_plugin_corewizard_acl_input_pw2" type="password" class="input-medium" data-bind="value: confirmedPassword, valueUpdate: 'input', enable: !setup(), css: {disabled: setup()}">
            <span class="help-inline" data-bind="visible: doPwMatchValidation() && passwordMismatch()">{{ _('Passwords do not match') }}</span>
        </div>
    </div>
</form>
{% trans %}<p>
    <strong>Note:</strong> Please consider using a strong password in order to prevent any other person of guessing or
    brute forcing your password.
</p>
{% endtrans %}
