
<h3>{{ _("Brightness adjustment") }}</h3>
<div>
    <p>{{ _('You can now adjust the <strong>brightness of the camera</strong> to improve your experience with the Working Area in different lighting environments.') }}</p>
    <img src="/plugin/mrbeam/static/img/whatsnew_dialog/brightness_adjustment.png">
</div>
