<h3>{{ _("Optimized Engraving Algorithms") }}</h3>

{% trans %}
   To improve processing time of engravings we’re introducing a new clustering algorithm which identifies areas of the engraving image which can be engraved separately to safe time during „empty rides."
{% endtrans %}
