
{% if language == 'de' %}

    <h3>Gravuralgorithmus optimiert</h3>

    <p>
        Neuer und omptimierter Gravuralgorithmus:
    </p>

    <p>
        Um die Bearbeitungszeit von Gravurjobs zu verbessern haben wir einen neuen Clustering-Algorithmus entwickelt.
        Dadurch werden im Gravurbild Bereiche erkannt, die getrennt voneinander verarbeitet werden um Zeit bei "Leerfahreten" des Laserkopfes zu sparen.
    </p>

    <img id="wizard_whatsnew_custom_materials_img" src="/plugin/mrbeam/static/img/whatsnew/whatsnew_engraving.png">


{% else %}

    <h3>{{ _("Optimized Engraving Algorithms") }}</h3>


    <p>
        New time optimized engraving algorithm:
    </p>

    <p>
    {% trans %}
       To improve processing time of engravings we’re introducing a new clustering algorithm which identifies areas of the engraving image
        which can be engraved separately to save time by saving „empty rides."
    {% endtrans %}
    </p>

    <img id="wizard_whatsnew_custom_materials_img" src="/plugin/mrbeam/static/img/whatsnew/whatsnew_engraving.png">

{% endif %}


