
{# !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! #}
{# Wording changes must be done in both templates: wizard_analytics.jinja and analytics_settings.jinja !! #}
{# !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! #}

<img src="/plugin/mrbeam/static/img/welcome_dialog/analytics.png">

<h3>{{ _("Analytics") }}</h3>
{% set privacy_policy = _('/plugin/mrbeam/static/docs/MrBeamAnalytics-PrivacyPolicy_en.pdf') %}
{#<h4>#}
{#    {{ _('Help us improve Mr Beam!') }} <i class="fa fa-heartbeat" aria-hidden="true" style="margin-right: 3px"></i>#}
{#</h4>#}
<p>
    <strong>{{ _('Help us improve Mr Beam!') }}</strong>
    {{ _('In order to improve the experience with your Mr Beam, we would like to gather some analytics data on the device operations.') }}
    {{ _('No information will be shared with external sources.') }}
</p>

<div>
    <div id="analytics_initial_consent_radio">
      <label><input type="radio" name="analytics_init_consent" value="agree" data-bind="checked: analyticsInitialConsent">
        {{ _('Yes, I want to support Mr Beam and agree to share the analytics data.') }}</label>
      <label><input type="radio" name="analytics_init_consent" value="disagree" data-bind="checked: analyticsInitialConsent">
        {{ _('No, I’d rather not share the analytics data.') }}</label>
    </div>
</div>

<div class="accordion md-accordion" id="analytics_what_we_save_and_dont_accordion">
  <div class="card">
    <div class="card-header" id="analytics_what_we_save_heading">
      <div class="mb-0">
        <button class="btn-link collapsed analytics-collapsible" type="button" data-toggle="collapse" data-target="#analytics_what_we_save"
                aria-expanded="true" aria-controls="collapseOne" style="color: #e25303; padding-left: 0;">
            {{ _('More information about what data we use') }}
        </button>
      </div>
    </div>
    <div id="analytics_what_we_save" class="collapse" aria-labelledby="analytics_what_we_save_heading" data-parent="#analytics_what_we_save_accordion">
      <div class="card-body">
        {{ _('Data we would <b>save</b>:') }}
        <ul>
            <li>{{ _('Job data like duration, materials or parameters.') }}</li>
            <li>{{ _('Mr Beam device data like serial number, local IP addresses and version numbers.') }}</li>
            <li>{{ _('More technical data, including error reports.') }}</li>
        </ul>
        {{ _('Data we will <b>not save</b>:') }}
        <ul>
            <li>{{ _('Your designs, its content or file names.') }}</li>
            <li>{{ _('Usernames, email addresses or passwords.') }}</li>
            <li>{{ _('Location, camera pictures, public IP addresses.') }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<p>
    {{ _('You can change you choice any time in the menu "Settings > Analytics".') }}
</p>
<small class="muted">
    {{ _("Want more detailed information? You can check our %(open)sprivacy policy%(close)s.", open='<a href="%s" target="_blank">' % privacy_policy, close='</a>')|safe }}
</small>
