<img loading="lazy" src="/plugin/mrbeam/static/img/welcome_dialog/wifi.png">

<h3>{{ _('Connecting to your Mr Beam') }}</h3>

<div id="wizard_plugin_corewizard_wifi_netconnectd" data-bind="allowBindings: true">
    <div id="wizard_welcome_wifi_status_lights">
        <p>
            {{ _('The Mr Beam Status Lights show you how to connect to your Mr Beam:') }}
        </p>

        <table class="wizard-table">
            <tr>
                <td><img loading="lazy" src="/plugin/mrbeam/static/img/welcome_dialog/status_lights_orange.gif"></td>
                <td><img loading="lazy" src="/plugin/mrbeam/static/img/welcome_dialog/status_lights_green.gif"></td>
                <td><img loading="lazy" src="/plugin/mrbeam/static/img/welcome_dialog/status_lights_white.gif"></td>
            </tr>
            <tr>
                <td class="wizard-table-caption">{{ _('Connect to your Mr Beam via %(strong_open)sfind.mr-beam.org%(strong_close)s', strong_open='<strong class="dont-break">', strong_close='</strong>') }}</td>
                <td class="wizard-table-caption">{{ _('Connect directly to the %(strong_open)sMr Beam WiFi Access Point.%(strong_close)s', strong_open='<strong>', strong_close='</strong>') }}</td>
                <td class="wizard-table-caption">{{ _('Find your Mr Beam in your local network. Check the %(strong_open)sQuickstart Guide%(strong_close)s for more information.', strong_open='<strong>', strong_close='</strong>') }}</td>
            </tr>
        </table>

        <h5>{{ _('Our recommendation: find.mr-beam.org') }}</h5>
        <p>
            {{ _('For the best user experience we recommend using the find.mr-beam.org discovery service. In order to use this service, it is necessary that your Mr Beam has an active internet connection.') }}
        </p>
        <button id="wizard_welcome_wifi_config_btn" class="btn btn-primary">{{ _('Configure WiFi') }}</button>
        <small class="muted" style="display: inline-block">
            {{ _('You can configure the WiFi now or skip this step by clicking on the "Next" button. You can always configure the WiFi later in the settings menu.') }}
        </small>
    </div>

    <div id="wizard_welcome_wifi_configuration" style="display: none">
        <div data-bind="visible: hasDataLoaded()">
            <div class="pull-right" data-bind="visible: netconnectdViewModel.enableQualitySorting">
                <small>
                    {{ _('Sort by') }}: <a href="#" data-bind="click: function() { netconnectdViewModel.listHelper.changeSorting('ssid'); }">{{ _('SSID') }} ({{ _('ascending') }})</a> | <a href="#" data-bind="click: function() { netconnectdViewModel.listHelper.changeSorting('quality'); }">{{ _('Quality') }} ({{ _('descending') }})</a>
                </small>
            </div>
            <table class="table table-striped table-hover table-condensed table-hover" id="settings_plugin_netconnectd_wifis">
                <thead>
                <tr>
                    <th class="settings_plugin_netconnectd_wifis_ssid">{{ _('SSID') }}</th>
                    <th class="settings_plugin_netconnectd_wifis_quality" data-bind="visible: netconnectdViewModel.enableQualitySorting">{{ _('Quality') }}</th>
                    <th class="settings_plugin_netconnectd_wifis_action">{{ _('Action') }}</th>
                </tr>
                </thead>
                <tbody data-bind="foreach: netconnectdViewModel.listHelper.paginatedItems">
                    <tr data-bind="attr: {title: name}">
                        <td class="settings_plugin_netconnectd_wifis_ssid"><span class="icon-lock" data-bind="invisible: !encrypted"></span> <span data-bind="text: ssid"></span> <small class="muted">({{ _('Address') }}: <span data-bind="text: address"></span>)</small></td>
                        <td class="settings_plugin_netconnectd_wifis_quality" data-bind="visible: $root.netconnectdViewModel.enableQualitySorting, text: qualityText"></td>
                        <td class="settings_plugin_netconnectd_wifis_action">
                            <button class="btn btn-small" data-bind="click: function() { $parent.netconnectdViewModel.configureWifi($data); }, css: {disabled: $root.netconnectdViewModel.working() || $root.netconnectdViewModel.error() || $root.netconnectdViewModel.getEntryId($data) == $root.netconnectdViewModel.statusCurrentWifi()}"><i class="icon-spinner icon-spin" data-bind="visible: $root.netconnectdViewModel.working"></i><i class="icon-signin" data-bind="visible: !$root.netconnectdViewModel.working()"></i> {{ _('Connect') }}</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <button class="btn btn-primary btn-block" data-bind="click: function() { $root.netconnectdViewModel.refresh() }, enable: $root.netconnectdViewModel.daemonOnline() && $root.netconnectdViewModel.status.wifi.present()">{{ _('Refresh') }}</button>

        <div>
            <small class="muted">{{ _('netconnectd socket') }}: <span data-bind="text: netconnectdViewModel.settings.plugins.netconnectd.socket"></span></small>
        </div>

        <div>
            <div><small><a href="#" class="muted" onclick="$(this).children().toggleClass('icon-caret-right icon-caret-down').parent().parent().parent().next().slideToggle('fast')"><i class="icon-caret-right"></i> {{ _('Advanced options') }}</a></small></div>
            <div class="hide row-fluid">
                <button class="btn span6" data-bind="click: function() { if ($root.netconnectdViewModel.apRunning()) { $root.netconnectdViewModel.sendStopAp(); } else { $root.netconnectdViewModel.sendStartAp(); } }, enable: $root.netconnectdViewModel.daemonOnline()"><span data-bind="visible: !$root.netconnectdViewModel.apRunning() && $root.netconnectdViewModel.daemonOnline()">{{ _('Start AP') }}</span><span data-bind="visible: $root.netconnectdViewModel.apRunning() && $root.netconnectdViewModel.daemonOnline()">{{ _('Stop AP') }}</span><span data-bind="visible: !$root.netconnectdViewModel.daemonOnline()">{{ _('Daemon offline') }}</span></button>
                <button class="btn span6" data-bind="click: function() { $root.netconnectdViewModel.sendReset() }, enable: $root.netconnectdViewModel.daemonOnline()">{{ _('Reset daemon') }}</button>
            </div>
        </div>
        <p>&nbsp;<p/>
    </div>
{# We're using the #settings_plugin_netconnectd_wificonfig from the settings pane. Hacky or lean design? #}
</div>
