
{% if language == 'de' %}

    <script>var wizard_plugin_corewizard_whatsnew_0_title_de = "Was gibt's neues";</script>
    <h3>{{ _("Was gibt's neues") }}</h3>
    <p>
        Willkommen bei neuesten Verision der Mr Beam II Software<br/>
        und danke, dass du deinen Mr Beam II up to date hälst.
    </p>
    <p>
        Wir geben dir hier eine kurze Übersicht über die neuesten Features und Verbesserungen in dieser Version...
    </p>

{% else %}

    <h3>{{ _("What's New") }}</h3>
    <p>
        Welcome to the latest version of the Mr Beam II software<br/>
        and thank you for keeping your Mr Beam II up to date.
    </p>
    <p>
        Let us give you a short overview of the new features and improvements of this version...
    </p>

{% endif %}
