

{% if language == 'de' %}

    <script>var wizard_plugin_corewizard_whatsnew_4_title_de = "...und mehr";</script>
    <h3>{{ _("...und mehr") }}</h3>

    <p>
        Darüber hinaus haben wir noch viele weitere Details verbessert und auch ein paar Bugs ausgemerzt:
    </p>

    <ul>
        <li><strong>Verbesserte SVG Unterstüzung:</strong> Mr Beam unterstützt jetzt auch folgende SVG Elemente: clones and refs.</li>
        <li><strong>Verbesserte DXF Unterstüzung:</strong> DXF Datein aus OpenScad werden jetzt unterstützt.</li>
        <li><strong>find.mr-beam.org:</strong> Unser Discovery-Service unterstützt jetzt auch .fritz.box-Netzwerke.</li>
        <li>Behebt einen Bug bei dem manche Nutzer nicht den gesamten physikalisch verfügbaren Speicherplatz nutzen konnten. Jetzt können's alle.</li>
        <li>Behebt einen Bug bei dem der Laser nach einer Pause nicht wieder an ging.</li>
    </ul>

    <p><br/></p>
    <p>
        <strong>Wir hoffen, dass dir all diese Verbesserungen gefallen.</strong>
    </p>

    <p>
        ...und nur für den Fall, dass du noch Fragen hast oder Hilfe brauchst: <br/>
        Schau dir unser neues <a href="https://www.mr-beam.org/support" target="_blank">Mr Beam Support Portal</a> an.
    </p>

{% else %}

    <h3>{{ _("...and more") }}</h3>

    <p>
        Besides these, we improved many details and and also fixed some bugs:
    </p>

    <ul>
        <li><strong>Improved SVG support:</strong> Mr Beam now supports the following SVG elements: clones and refs.</li>
        <li><strong>Improved DXF support:</strong> DXF files from OpenScad are now supported.</li>
        <li><strong>find.mr-beam.org:</strong> Our discovery service now supports .fritz.box networks.</li>
        <li>Fixes a bug where some users could not use the full physically available disk space. Now you can.</li>
        <li>Fixes a bug where the laser did not turn on after pausing.</li>
    </ul>

    <p><br/></p>
    <p>
        <strong>We hope you enjoy all these improvements.</strong>
    </p>

    <p>
        ...and just in case you have questions or need help: <br/>
        Check out our new <a href="https://www.mr-beam.org/support" target="_blank">Mr Beam Support Portal</a>.
    </p>

{% endif %}
