<h3>{{ _("...and more") }}</h3>

<p>
    Besides these, we improved many details and and also fixed some bug:
</p>

<ul>
    <li><strong>Improved SVG support:</strong> Mr Beam now supports the following SVG elements: clones and refs.</li>
    <li><strong>Improved DXF support:</strong> DXF files from OpenScad  are now supported.</li>
    <li><strong>find.mr-beam.org:</strong> Discovery service now supports .fritz.box networks.</li>
    <li>Fixes a bug where the laser did not turn on after pausing.</li>
</ul>

<p>
    <strong>We hope you enjoy all these improvements.</strong>
</p>

<p>
    ...and just in case you have questions or need help: <br/>
    Check out our new <a href="https://www.mr-beam.org/support" target="_blank">Mr Beam Support Portal</a>.
</p>
