
<img loading="lazy" src="/plugin/mrbeam/static/img/welcome_dialog/acl.png">

<h3>{{ _('Set up your user account') }}</h3>

{% trans %}
    <p>
        Write your e-mail address and password. <strong>Please don't forget your access information.</strong>
    </p>
    <p>
        For security reasons, you can only use your Mr Beam after logging in with a user account.
        If you forget your access information, you will need to contact the Mr Beam Support Team to reset your device.
    </p>
    <small class="muted">
        In the settings you can create additional user accounts, e.g. for family members, colleagues or friends.
    </small>
{% endtrans %}

<form class="form-horizontal welcome-wizard-acl-form">
    <div class="control-group" data-bind="css: {success: doUserValidation() && validUsername(), error: doUserValidation() && !validUsername()}">
        <label class="welcome-wizard-acl-label" for="wizard_plugin_corewizard_acl_input_username">{{ _('E-mail address') }}</label>
        <input id="wizard_plugin_corewizard_acl_input_username" type="text" class="welcome-wizard-acl-input" data-bind="value: username, valueUpdate: 'afterkeydown', enable: !setup(), css: {disabled: setup()}">
        <span class="help-inline" data-bind="visible: doUserValidation() && !validUsername()">{{ _('Invalid e-mail address') }}</span>
    </div>
    <div class="control-group" data-bind="css: {success: validPassword()}">
        <label class="welcome-wizard-acl-label" for="wizard_plugin_corewizard_acl_input_pw1">{{ _('Password') }}</label>
        <input id="wizard_plugin_corewizard_acl_input_pw1" type="password" class="welcome-wizard-acl-input" data-bind="value: password, valueUpdate: 'input', enable: !setup(), css: {disabled: setup()}">
    </div>
    <div class="control-group" data-bind="css: {error: doPwMatchValidation() && passwordMismatch(), success: doPwMatchValidation() && validPassword() && !passwordMismatch()}">
        <label class="welcome-wizard-acl-label" for="wizard_plugin_corewizard_acl_input_pw2">{{ _('Confirm Password') }}</label>
        <input id="wizard_plugin_corewizard_acl_input_pw2" type="password" class="welcome-wizard-acl-input" data-bind="value: confirmedPassword, valueUpdate: 'input', enable: !setup(), css: {disabled: setup()}">
        <span class="help-inline" data-bind="visible: doPwMatchValidation() && passwordMismatch()">{{ _('Passwords do not match') }}</span>
    </div>
</form>
