
<h3>{{ _("Custom material backup") }}</h3>

<div class="wizard-content">
    <p><strong>{{ _('Backup and restore custom material settings') }}</strong></p>
    <p>{{ _('Save a copy of your custom material settings and restore it whenever you need, or use it in other Mr Beams.') }}</p>

{#    <small class="muted">{{ _('') }}</small>#}

    <img class="wizard-big-img wizard-shadowed-img" src="/plugin/mrbeam/static/img/whatsnew_dialog/custom_materials.png">
</div>
