{# included in firstrun_end.jinja2 and laserjob_done.jinja2 #}
<a href="https://www.instagram.com/mrbeamlasers/" target="_blank"><i class="icon-instagram"></i></a>
<a href="https://www.facebook.com/mrbeamlasercutter/" target="_blank"><i
        class="icon-facebook-sign"></i></a>
<a href="https://twitter.com/MrBeamLasers" target="_blank"><i class="icon-twitter-sign"></i></a>
<a href="https://www.pinterest.com/mrbeamlasers" target="_blank"><i class="icon-pinterest-sign"></i></a>
<a href="https://www.youtube.com/channel/UC8CIMavXllp6S61JgEqSm4A" target="_blank"><i
        class="icon-youtube-sign"></i></a>
<a href="https://www.linkedin.com/company/mrbeamlasers" target="_blank"><i
        class="icon-linkedin-sign"></i></a>
