<div id="settings_mrbeam_about">
    <h3>{{ _('About This Mr Beam') }}</h3>

    <div class="control-group">
        <h5>{{ _('Mr Beam II') }}</h5>
        <div class="controls">
            <ul>
                <div><strong>Name:</strong> {{ hostname }}</div>
                <div><strong>Serial:</strong> {{ serial }}</div>
            </ul>
        </div>
    </div>

    <div class="control-group">
        <h5>{{ _('beamOS') }}</h5>
        <div class="controls">
            <ul>
                <div><strong>Mr Beam Plugin:</strong> v{{ beamosVersionNumber }}</div>
                <div><strong>OctoPrint:</strong> <span class="version"></span></div>
                <div><strong>Image fingerprint:</strong> {{ beamosVersionImage }}</div>
                <div><strong>Software tier:</strong> {{ software_tier }}</div>
                <div><strong>Environment:</strong> {{ env }}</div>
            </ul>
        </div>
    </div>

    <div class="control-group">
        <h5>{{ _('Support') }}</h5>
        <div class="controls">
            <ul>
                <div><strong>Email:</strong> <a href="mailto:support@mr-beam.org" target="_blank">support@mr-beam.org</a></div>
            </ul>
        </div>
    </div>

    <div class="control-group">
        <h5>{{ _('Links') }}</h5>
        <div class="controls">
            <ul>
                <div><strong>Website:</strong> <a href="https://www.mr-beam.org" target="_blank"> mr-beam.org</a></div>
                <div><strong>Social media:</strong>
                    <a href="https://www.facebook.com/mrbeamlasercutter/" target="_blank">Facebook</a> |
                    <a href="https://www.instagram.com/mrbeamlasers/" target="_blank">Instagram</a> |
                    <a href="https://twitter.com/MrBeamLasers" target="_blank">Twitter</a> |
                    <a href="https://www.youtube.com/channel/UC8CIMavXllp6S61JgEqSm4A" target="_blank">YouTube</a> |
                    <a href="https://plus.google.com/u/0/+MrBeamLasers" target="_blank">Google+</a> |
                    <a href="https://www.linkedin.com/company/mr-beam-lasers-llc" target="_blank">LinkedIn</a>
                </div>
                <div><strong>Find my Mr Beam:</strong> <a href="http://find.mr-beam.org" target="_blank"> find.mr-beam.org</a></div>
                <div><strong>Online resources:</strong> <a href="https://drive.google.com/drive/folders/1IQ65zFGoCN1sz6MiEocyjAZOy5NFS3ZK?usp=sharing" target="_blank"> Google Drive</a></div>
                <div><strong>Quickstart Guide:</strong> <a href="/plugin/mrbeam/static/docs/QuickstartGuide_de.pdf" target="_blank"> German </a>
                    or <a href="/plugin/mrbeam/static/docs/QuickstartGuide_en.pdf" target="_blank"> English </a>
                    or get the latest versions <a href="https://drive.google.com/drive/folders/1IQ65zFGoCN1sz6MiEocyjAZOy5NFS3ZK?usp=sharing" target="_blank">online</a>.</div>
                <div><strong>Source code:</strong> <a href="https://github.com/mrbeam" target="_blank"> github.com/mrbeam</a></div>
            </ul>
        </div>
    </div>


</div>
