<div id="settings_mrbeam_about">
    <h3>{{ _('About This Mr Beam') }}</h3>

    {#    Download link is language specific  #}
    {% set mrbeamorg_downloads = _('https://mr-beam.org/en/downloads/') %}

    <div class="scrollable">

        <div class="control-group">
            <h5>{{ product_name }}</h5>
            <div class="controls">
                <ul>
                    <div><strong>{{ _('Name') }}:</strong> {{ hostname }}</div>
                    <div><strong>{{ _('Serial number') }}:</strong> {{ serial }}</div>
                    {% if laserhead_serial or laserhead_model == 'S' %}
                        <div><strong>{{ _('Laser head') }}:</strong>
                        <ul class="list-unstyled">
                        {% if laserhead_serial %}
                            <li><strong>{{ _('Serial number') }}:</strong> {{ laserhead_serial }}</li>
                        {% endif %}
                        {% if laserhead_model == 'S' %}
                            <li><strong>{{ _('Model') }}:</strong> {{ laserhead_model }}</li>
                        {% endif %}
                        </ul>
                        </div>
                    {% endif %}
                    {% if mac_addrs %}
                    <div><strong>{{ _('Network interfaces') }}:</strong>
						<ul class="list-unstyled">
							{% for ifc, mac in mac_addrs.iteritems() %}
							<li>{{ ifc }} (MAC: {{ mac }})</li>
							{% endfor %}
						</ul>
					</div>
                    {% endif %}
                </ul>
            </div>
        </div>

        <div class="control-group">
            <h5>BeamOS & grbl</h5>
            <div class="controls">
                <ul>
                    <div><strong>{{ _('Mr Beam Plugin') }}:</strong> v{{ beamosVersionNumber }}</div>
                    <div><strong>OctoPrint:</strong> <span class="version"></span></div>
                    <div><strong>{{ _('Image fingerprint') }}:</strong> {{ beamosVersionImage }}</div>
                    <div><strong>{{ _('Software channel') }}:</strong> {{ software_tier }}</div>
                    <div><strong>{{ _('Environment') }}:</strong> {{ env }}</div>
                    <div><strong>{{ _('grbl') }}:</strong> {{ grbl_version }}</div>
                </ul>
            </div>
        </div>

        {% if env_support_mode %}
            <div class="control-group">
                <h5>Support data</h5>
                <div class="controls">
                    <ul>
                        <div><strong>Total usage:</strong> <span id="settings_mrbeam_about_support_total_usage_hours"></span> hrs</div>
                        <div><strong>mrb_state:</strong> <span id="settings_mrbeam_about_support_mrb_state"></span></div>
                    </ul>
                </div>
            </div>
        {% endif %}

        <div class="control-group">
            <h5>{{ _('Documentation, Support and Privacy') }}</h5>
            <div class="controls">
                <ul>
                    {% for document in settings_model.about.support_documents %}
                        <div>
                            <strong>{{ document.title }}</strong>
                            {% for link in document.document_links | sort_enum(attribute='language') %}
                                <a href="{{ link.url }}" target="_blank"> {{ link.language.value }} </a> |
                            {% endfor %}
                            {{ _('get the latest versions') }} <a href="{{ mrbeamorg_downloads }}" target="_blank">{{ _('online') }}</a>
                        </div>
                    {% endfor %}

                    <div><strong>{{ _('Online Support Portal') }}:</strong> <a href="https://www.mr-beam.org/support" target="_blank">mr-beam.org/support</a></div>
                    <div><strong>{{ _('Privacy Policies') }}:</strong>
                        <a href="http://shop.mr-beam.org/privacy" target="_blank">{{ _('Mr Beam Web Site') }}</a> |
                        <a href="/plugin/findmymrbeam/static/docs/findmrbeamorg_privacy_policy.pdf" target="_blank">{{ _('find.mr-beam service') }}</a> |
                        <a href="{{ _('/plugin/mrbeam/static/docs/MrBeamAnalytics-PrivacyPolicy_en.pdf') }}" target="_blank">{{ _('Mr Beam Analytics') }}</a>
                    </div>
                </ul>
            </div>
        </div>


        <div class="control-group">
            <h5>{{ _('Links') }}</h5>
            <div class="controls">
                <ul>
                    <div><strong>{{ _('Website') }}:</strong> <a href="https://www.mr-beam.org" target="_blank"> mr-beam.org</a></div>
                    <div><strong>{{ _('Social media') }}:</strong>
                        <a href="https://www.facebook.com/mrbeamlasercutter/" target="_blank">Facebook</a> |
                        <a href="https://www.instagram.com/mrbeamlasers/" target="_blank">Instagram</a> |
                        <a href="https://twitter.com/MrBeamLasers" target="_blank">Twitter</a> |
                        <a href="https://www.youtube.com/channel/UC8CIMavXllp6S61JgEqSm4A" target="_blank">YouTube</a> |
                        <a href="https://www.pinterest.com/mrbeamlasers" target="_blank">Pinterest</a> |
                        <a href="https://www.linkedin.com/company/mrbeamlasers" target="_blank">LinkedIn</a> |
                        <a href="https://www.tiktok.com/@mrbeamlasers" target="_blank">TikTok</a>
                    </div>
                    <div><strong>{{ _('Official user group') }}</strong> {{ _('on Facebook') }} ({{ _('German') }}): <a href="https://www.facebook.com/groups/officialmrbeamusers/" target="_blank"> Official Mr Beam Lasers User Group</a></div>
                    <div><strong>{{ _('find.mr-beam service') }}:</strong> <a href="http://find.mr-beam.org" target="_blank"> find.mr-beam.org</a></div>
                    <div><strong>{{ _('Online resources') }}:</strong> <a href="{{ mrbeamorg_downloads }}" target="_blank"> {{ _('Mr Beam Downloads') }}</a></div>
                    <div><strong>{{ _('Source code') }}:</strong> <a href="https://github.com/mrbeam" target="_blank"> github.com/mrbeam</a></div>
                    <div><strong>{{ _('Recommend Mr Beam') }}</strong> {{ _("and earn cashback") }}: <a href="https://www.aklamio.com/community/shops/mrbeam_de" target="_blank">aklamio.com</a></div>
                </ul>
            </div>
        </div>

    </div>


</div>
