<div id="settings_mrbeam_analytics">
    <h3>{{ _('Analytics') }}</h3>

    <form class="form-horizontal">
        <div class="control-group">
{#            <label class="control-label" for="settings-debug-terminal">{{ _('Enable terminal') }}</label>#}
            <div class="controls">
                <label class="checkbox">
                    <input type="checkbox" data-bind="checked: settings.plugins.mrbeam.analyticsEnabled">
                    <strong>Enable analytics</strong>
            </label>
                    <div>Allow Mr Beam Lasers to collect usage data from your device.
                        This helps us to improve our hardware and software for you and all other Mr Beam II users.
                        We respect your privacy and will never upload the content of your designs or what you laser with your Mr Beam II.
                        <br />
                        For more information ses our <a href="http://shop.mr-beam.org/privacy" target="_blank">privacy policy</a>.
                    </div>
            </div>
        </div>



    </form>

</div>
