


{# !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! #}
{# Wording changes must be done in both templates: wizard_analytics.jinja and analytics_settings.jinja !! #}
{# !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! #}

<div id="settings_mrbeam_analytics">
    <h3>{{ _('Analytics') }}</h3>
    {% set privacy_policy = _('/plugin/mrbeam/static/docs/MrBeamAnalytics-PrivacyPolicy_en.pdf') %}
    <form class="form-horizontal">
        <div class="control-group">
{#            <label class="control-label" for="settings-debug-terminal">{{ _('Enable terminal') }}</label>#}
            <div class="controls" style="width: 400px">
                <h4>
                    {{ _('Help us improve Mr Beam!') }} <i class="fa fa-heartbeat" aria-hidden="true" style="margin-right: 3px"></i>
                </h4>
                <label class="checkbox">
                    <input type="checkbox" data-bind="checked: settings.plugins.mrbeam.analyticsEnabled">
                    <strong>{{ _('Enable analytics') }}</strong>
                </label>
                <p>
                    {{ _('In order to improve your experience with the Mr Beam,<br/>we would like to gather some analytics data on the device operations.') }}<br/>
                    {{ _('No information will be shared with external sources.') }}
                </p>


                <div class="accordion md-accordion" id="settings_analytics_what_we_save_and_dont_accordion">
                  <div class="card">
                    <div class="card-header" id="settings_analytics_what_we_save_heading">
                      <div class="mb-0">
                        <button class="btn-link collapsed analytics-collapsible" type="button" data-toggle="collapse" data-target="#settings_analytics_what_we_save"
                                aria-expanded="true" aria-controls="collapseOne">
                            {{ _('More information about what data we use') }}
                        </button>
                      </div>
                    </div>
                    <div id="settings_analytics_what_we_save" class="collapse" aria-labelledby="settings_analytics_what_we_save_heading" data-parent="#settings_analytics_what_we_save_accordion">
                      <div class="card-body">
                        {{ _('Data we would <b>save</b>:') }}
                        <ul>
                            <li>{{ _('Job data like duration, materials or parameters.') }}</li>
                            <li>{{ _('Mr Beam device data like serial number, local IP addresses and version numbers.') }}</li>
                            <li>{{ _('More technical data, including error reports.') }}</li>
                        </ul>
                        {{ _('Data we will <b>not save</b>:') }}
                        <ul>
                            <li>{{ _('Your designs, its content or file names.') }}</li>
                            <li>{{ _('Usernames, email addresses or passwords.') }}</li>
                            <li>{{ _('Location, camera pictures, public IP addresses.') }}</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>

                <p style="color: darkgray;font-size: 0.9em">
                    {{ _("Want more detailed information? You can check our %(open)sprivacy policy%(close)s.", open='<a href="%s" target="_blank">' % privacy_policy, close='</a>')|safe }}
                    {#{ _('Want more detailed information? You can check our') }} <a href="/plugin/mrbeam/static/docs/MrBeamAnalytics-PrivacyPolicy_{{ plugin_mrbeam_language }}.pdf" target="_blank">{{ _('privacy policy.') }}</a> #}
                </p>

            </div>
        </div>
    </form>

</div>
