
<svg width="100%" height="100%" viewBox="0 0 512 384" data-bind="attr: {viewBox: calSvgViewBox()}">
	<image data-bind="attr: {href: calImgUrl(), width:calImgWidth(), height:calImgHeight() }, click: userClick" />
</svg>
<div id="calibration_box">
	<div class="calibration_help" data-bind="visible: !calibrationActive()">
		<div>{{_('Click on the arrow head of the marker in the magnified picture.<br/> \n\
			Continue with the other markers as the picture changes.<br/>\n\
			Once all arrowheads are marked the calibration is finished.')}}</div>
		<div style="text-align:center; padding-top:1.5em;">
			<button class="btn btn-default" data-bind="click: startCalibration">{{ _('Start Calibration') }}</button>
		</div>
	</div>
	<div class="calibration_summary" data-bind="visible: calibrationActive(), event:{ mouseenter: outOfWay }">
		<div style="width:80%; margin:auto;">
			<div class="cal-arrow NW"></div> North West: <span id="NW" data-bind="text: markerNW().join(',')"></span><br/>
			<div class="cal-arrow SW"></div> South West: <span id="SW" data-bind="text: markerSW().join(',')"></span><br/>
			<div class="cal-arrow SE"></div> South East: <span id="SE" data-bind="text: markerSE().join(',')"></span><br/>
			<div class="cal-arrow NE"></div> North East: <span id="NE" data-bind="text: markerNE().join(',')"></span><br/>
		</div>
		<div style="text-align:center; padding-top:1.5em;">
			<button class="btn btn-default" data-bind="click: saveCalibrationData">{{ _('Save Calibration') }}</button>
		</div>
	</div>
</div>