<div id="settings_camera_calibration" style="position:relative; top:-28px;">
	<div id="camera_calibration_parameter_wrapper" data-bind="style: { width: workingArea.workingAreaWidthPx()+'px',
											height: workingArea.workingAreaHeightPx()+'px' }">
		<div id="camera_calibration_parameter">
			<h4>{{ _('Camera Calibration') }}</h4>
		</div>
		<svg width="100%" height="100%" viewBox="0 0 512 384" data-bind="attr: {viewBox: calSvgViewBox()}">
			<image data-bind="attr: {href: calImgUrl(), width:calImgWidth(), height:calImgHeight() }, click: userClick" />
		</svg>
        <div class="control-group">
            <button class="btn btn-primary" data-bind="click: abortCalibration()">{{ _('Abort') }}</button>
            <button class="btn btn-primary" data-bind="click: loadUndistortedPicture()">{{ _('Take Picture') }}</button>
        </div>

	</div>
</div>
