
<div id="settings_camera_calibration">

	<div id="calibration_step_1" class="calibration_step active" data-bind="visible: !isInitialCalibration()">
		<div class='calibration_manual img' style='background-image:url(/plugin/mrbeam/static/img/cam_calibration/calpic_material_size.svg)'></div>
		<div class='calibration_manual text'>{{_('Please put a material like cardboard inside your Mr Beam II that it covers the whole working area.')}}</div>
		<div class='calibration_manual img' style='background-image:url(/plugin/mrbeam/static/img/cam_calibration/calpic_close_lid.svg)'></div>
		<div class='calibration_manual text'>{{_('Close the lid. Mr Beam will start engraving the calibration markers on the cardboard.')}}</div>
		<div>
			<button class="btn btn-primary" data-bind="click: engrave_markers">{{ _('Engrave Calibration Markers') }}</button>
			<button class="btn btn-default" data-bind="click: next">{{ _('Continue') }}</button>
		</div>
	</div>
	<div id="calibration_step_2" class="calibration_step" data-bind="visible: !isInitialCalibration()">
		<div class='calibration_manual img' style='background-image:url(/plugin/mrbeam/static/img/cam_calibration/calpic_open_lid.svg)'></div>
		<div class='calibration_manual text'>{{_('Wait until the engraving is finished and Mr Beam II illuminates green.\
						Open the safety lid again')}}</div>
		<div class='calibration_manual img' style='background-image:url(/plugin/mrbeam/static/img/cam_calibration/calpic_dont_touch.svg)'></div>
		<div class='calibration_manual text'>{{_('Do not touch the engraved material.\
						The camera will now take a picture of the engraving.')}}</div>
		<div>
			<button class="btn btn-default" data-bind="click: continue_to_calibration">{{ _('Continue') }}</button>
		</div>
	</div>
	<div id="calibration_step_3" class="calibration_step">
		<div class="calibration_manual text">
			{% include 'settings/camera_settings_markers.jinja2' %}
		</div>
	</div>
</div>
