<div id="settings_mrbeam_debug">
    <h3>{{ _('Debug') }}</h3>

    <form class="form-horizontal">
        <div class="control-group">
{#            <label class="control-label" for="settings-debug-terminal">{{ _('Enable terminal') }}</label>#}
            <div class="controls">
                <label class="checkbox">
                    <input type="checkbox" data-bind="checked: settings.plugins.mrbeam.terminal">
                    <strong>Enable terminal</strong>
                    <div>(Requires full page reload: <strong>Shift + F5</strong> (Windows and Linux) or <strong>Ctrl + Shift + r</strong> (Mac))</div>
                </label>
            </div>
        </div>

        <div class="control-group">
{#            <label class="control-label" for="settings-debug-vorlon">{{ _('Enable Vorlon') }}</label>#}
            <div class="controls">
                <label class="checkbox">
                    <input type="checkbox" data-bind="checked: settings.plugins.mrbeam.vorlon">
                    <strong>Enable Vorlon</strong>
                    <div>(Requires full page reload: <strong>Shift + F5</strong> (Windows and Linux) or <strong>Ctrl + Shift + r</strong> (Mac))</div>
                    <div>Experimental Debug Service. Enable only if Mr Beam support team asked you to do so. If enabled it'll send a huge amount of browser debugging data to a Mr Beam server over an unsecured connection. Disables automatically after 6 hours.</div>
                </label>
            </div>
        </div>

    </form>

</div>
