<div id="settings_plugin_mrbeam_dev_design_store">

    {# Strings here are inntentionally NOT marked for translation since this is an internal page only.   #}
    <h3>DEV Design Store</h3>

    <form class="form-horizontal" data-bind="event: { keydown: function(data, event){ if (event.key == 'Enter'){handleChange(); return false} else {return true}; } }">
        <div class="control-group">
            <label class="control-label" for="settings-mrbeam-design-store-email">Design Store email</label>
            <div class="controls">
                <input id="settings-mrbeam-design-store-email" data-test="dev-design-store-email" type="text" class="input-block-level" data-bind="value: devDsEmail">
                <br />
                <div>Email address to access the design store.</div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="settings-mrbeam-design-store-auth-token">Authentication token</label>
            <div class="controls">
                <p id="settings-mrbeam-design-store-auth-token" data-bind="text: authToken" style="padding-top: 5px;"></p>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="settings-mrbeam-design-store-environment">Choose Environment</label>
            <div class="controls">
                <select id="settings-mrbeam-design-store-environment" data-test="dev-design-store-env"
                data-bind="value: selectedEnv, event:{ change: changeEnv}">
                    <option value="dev">Development</option>
                    <option value="staging">Staging</option>
                    <option value="prod">Production</option>
                    <option value="localhost">Localhost</option>
                </select>
            </div>
        </div>
        <div class="control-group" data-bind="visible: isStagingOrDev()">
            <label class="control-label" for="settings-mrbeam-design-store-version">Version</label>
            <div class="controls">
                <input id="settings-mrbeam-design-store-version" type="text" class="input-block-level" data-bind="value: devDsVersion, event:{ change: changeEnv}">
            </div>
        </div>
        <div class="control-group" data-bind="visible: isLocalhost()">
            <label class="control-label" for="settings-mrbeam-design-store-localhost-port">Port</label>
            <div class="controls">
                <input id="settings-mrbeam-design-store-localhost-port" type="text" class="input-block-level" data-bind="value: devDsLocalhostPort, event:{ change: changeEnv}">
            </div>
        </div>
    </form>
</div>
