<div id="settings_mrbeam_design_store">

    {# Strings here are inntentionally NOT marked for translation since this is an internal page only.   #}
    <h3>DEV Design Store</h3>

    <form class="form-horizontal" data-bind="event: { keydown: function(data, event){ if (event.key == 'Enter'){console.log('Enter'); console.log(this); this.saveall(null,null, true); return false} else {return true}; } }">
        <div class="control-group">
            <label class="control-label" for="settings-mrbeam-design-store-email">User account</label>
            <div class="controls">
                <input id="settings-mrbeam-design-store-email" class="input-block-level" data-bind="value: settings.plugins.mrbeam.dev.design_store_email">
                <br />
                <div>Email address to acces the design store.</div>
                <div><strong>Reload browser window after changing.</strong></div>
            </div>
        </div>
    </form>
</div>
