<div id="settings_mrbeam_leds">
    <h3>{{ _('LEDs') }}</h3>

	<form class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="settings-leds-brightness">{{ _('Brightness') }}</label>
            <div class="controls">
                <input id="settings-leds-brightness"
					class="img_adjust" style="margin: 1.05em 0 2em 0;" 
					type="range" min="7" max="255" step="8" data-bind="value: edge_brightness, valueUpdate: 'input'" />
                <br />
                <div><small>{{ _("Adjust the overall brightness of Mr Beam's illuminated edges.") }}</small></div>
            </div>
        </div>
    </form>
</div>