<div id="settings_maintenance">
    <h3 class="maintenance-title">{{ _('Maintenance') }}</h3>
    <p class="muted maintenance-notes">{{ _('Some notes about the general maintenance') }}<br>
        <strong>{{ _('Please note that the replacement of any of the elements may be necessary earlier, depending on the usage.') }}</strong>
    </p>

    <div class="scrollable maintenance-scrollable">
        <table class="table table-striped table-hover table-condensed table-hover maintenance-table">
            <tr>
                {######### PRE-FILTER #########}
                <td class="maintenance-description-column">
                    <h4>{{ _('Air Filter: Pre-filter') }}</h4>
                    <small class="maintenance-description">
                        Some information about the pre-filter bla bla bla... asdklfjhaslkdfhgajhsdfglasf
                        asdfklh asgdflas gdflikas gdfikasdf. Super interesting things about filters and prefilters.
                        Debian GNU/Linux comes with ABSOLUTELY NO WARRANTY, to the extent
                        permitted by applicable law.

                    </small>
                    <div class="maintenance-links">
                        <a href="https://store.mr-beam.org/collections/featured/products/prefilter-for-the-mr-beam-airfilter-system"
                           target="_blank" class="maintenance-link-shop">
                            <i class="icon-shopping-cart"></i>
                            {{ _('Buy now') }}
                        </a>
                    </div>
                </td>
                <td class="maintenance-warning-column">
                    <div data-bind="visible: prefilterShowWarning">
                        <i class="fa fa-exclamation-triangle fa-lg" aria-hidden="true"></i>
                    </div>
                </td>
                <td class="maintenance-counter-column">
                    <h3><span data-bind="text: prefilterUsageHours, style: {color: prefilterShowWarning()? '#e25303' : ''}"></span><span data-bind="text: prefilterLifespanHours"></span></h3>
                </td>
                <td class="maintenance-reset-column">
                    <button class="btn btn-mini maintenance-reset-btn" data-bind="click: resetPrefilterUsage">{{ _('Reset') }}</button>
                </td>
            </tr>
            <tr>
                {######### CARBON FILTER #########}
                <td class="maintenance-description-column">
                    <h4>{{ _('Air Filter: Carbon filter') }}</h4>
                    <small class="maintenance-description">
                        The programs included with the Debian GNU/Linux system are free software;
                        the exact distribution terms for each program are described in the
                        individual files in /usr/share/doc/*/copyright.
                    </small>
                    <div class="maintenance-links">
                        <a href="https://store.mr-beam.org/products/activated-carbon-filter-for-the-mr-beam-air-filter-system-incl-5-prefilter"
                           target="_blank" class="maintenance-link-shop">
                            <i class="icon-shopping-cart"></i>
                            {{ _('Buy ') }}
                        </a>
                    </div>
                </td>
                <td class="maintenance-warning-column">
                    <div data-bind="visible: carbonFilterShowWarning">
                        <i class="fa fa-exclamation-triangle fa-lg" aria-hidden="true"></i>
                    </div>
                </td>
                <td class="maintenance-counter-column">
                    <h3><span data-bind="text: carbonFilterUsageHours, style: {color: carbonFilterShowWarning()? '#e25303' : ''}"></span><span data-bind="text: carbonFilterLifespanHours"></span></h3>
                </td>
                <td class="maintenance-reset-column">
                    <button class="btn btn-mini maintenance-reset-btn" data-bind="click: resetCarbonFilterUsage">{{ _('Reset') }}</button>
                </td>
            </tr>
            <tr>
                {######### LASER HEAD #########}
                <td class="maintenance-description-column">
                    <h4>{{ _('Laser head') }}</h4>
                    <span class="maintenance-laserhead-serial" data-bind="text: laserHeadSerial"></span>
                    <small class="maintenance-description">
                        Some information about the carbon filter bla bla bla...
                    </small>
                    <div class="maintenance-links">
                        <a href="https://store.mr-beam.org/products/laser-head-maintenance-service"
                           target="_blank" class="maintenance-link-shop">
                            <i class="icon-shopping-cart"></i>
                            {{ _('Buy now') }}
                        </a>
                        <a href="https://mr-beam.freshdesk.com/en/support/solutions/articles/43000504618-how-to-clean-a-laser-head"
                           target="_blank" class="maintenance-link-knowledge-base">
                            <i class="fa fa-external-link"></i>
                            {{ _('How to clean a laser head') }}
                        </a>
                    </div>
                </td>
                <td class="maintenance-warning-column">
                    <div data-bind="visible: laserHeadShowWarning">
                        <i class="fa fa-exclamation-triangle fa-lg" aria-hidden="true"></i>
                    </div>
                </td>
                <td class="maintenance-counter-column">
                    <h3><span data-bind="text: laserHeadUsageHours, style: {color: laserHeadShowWarning()? '#e25303' : ''}"></span><span data-bind="text: laserHeadLifespanHours"></span></h3>
                </td>
                <td class="maintenance-reset-column">
                    <button class="btn btn-mini maintenance-reset-btn" data-bind="click: resetLaserHeadUsage">{{ _('Reset') }}</button>
                </td>
            </tr>
            <tr>
                {######### GANTRY #########}
                <td class="maintenance-description-column">
                    <h4>{{ _('Gantry') }}</h4>
                    <small class="maintenance-description">
                        Some information about the gantry bla bla bla... asdklfjhaslkdfhgajhsdfglasf
                        asdfklhas gdflasgdflik asgdfikasdf. Super interesting things about the granty.

                    </small>
                    <div class="maintenance-links">
{#                        <a href="https://store.mr-beam.org/collections/featured/products/prefilter-for-the-mr-beam-airfilter-system"#}
{#                           target="_blank" class="maintenance-link-shop">#}
{#                            <i class="icon-shopping-cart"></i>#}
{#                            {{ _('Buy now#}
{#                        </a>#}
                    </div>
                </td>
                <td class="maintenance-warning-column">
                    <div data-bind="visible: gantryShowWarning">
                        <i class="fa fa-exclamation-triangle fa-lg" aria-hidden="true"></i>
                    </div>
                </td>
                <td class="maintenance-counter-column">
                    <h3><span data-bind="text: gantryUsageHours, style: {color: gantryShowWarning()? '#e25303' : ''}"></span><span data-bind="text: gantryLifespanHours"></span></h3>
                </td>
                <td class="maintenance-reset-column">
                    <button class="btn btn-mini maintenance-reset-btn" data-bind="click: resetGantryUsage">{{ _('Reset') }}</button>
                </td>
            </tr>
        </table>
    </div>

    <div id="reset_counter_are_you_sure" class="modal hide fade">
        <div class="modal-header">
            <h4>{{ _('Did you %(action_to_reset)s the %(component_to_reset)s?',
            action_to_reset='<span data-bind="text: actionToReset"></span>',
            component_to_reset='<span data-bind="text: componentToReset"></span>') }}</h4>
        </div>
        <div class="modal-body">
            {{ _('The hour counter for the %(component_to_reset)s will now be reset.', component_to_reset='<span data-bind="text: componentToReset"></span>')}}<br>
            {{ _('Please notice that there is no way to undo this operation') }}.
        </div>
        <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-primary" id="reset_counter_btn">{{ _('Yes') }}</button>
            <button type="button" data-dismiss="modal" class="btn">{{ _('No') }}</button>
        </div>
    </div>
</div>
