<div id="settings_svg_conversion" xdata-bind="allowBindings: true">
    <h4>{{ _('SVG Settings') }}</h4>

    <form class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="settings-svgtogcode-svgDPI">{{ _('SVG dpi') }}</label>
            <div class="controls">
                <input type="number" min="0" class="input-block-level" data-bind="value: settings.plugins.mrbeam.svgDPI">
                <br />
                <div><small>In case beamOS can't recognize what dpi value your graphic program uses, this value will be the fallback. You might need to change this if you use CorelDraw or other less wel known tools. Files from Illustrator or Inkscape tend to work fine regardless of this value.</small></div>
            </div>
        </div>
    </form>
</div>
