table th.settings_plugin_svgtogcode_profiles_key,table td.settings_plugin_svgtogcode_profiles_key{text-overflow:ellipsis;text-align:left;width:200px}table th.settings_plugin_svgtogcode_profiles_name,table td.settings_plugin_svgtogcode_profiles_name{text-overflow:ellipsis;text-align:left}table th.settings_plugin_svgtogcode_profiles_actions,table td.settings_plugin_svgtogcode_profiles_actions{text-align:center;width:100px}table th.settings_plugin_svgtogcode_profiles_actions a,table td.settings_plugin_svgtogcode_profiles_actions a{text-decoration:none;color:#000}table th.settings_plugin_svgtogcode_profiles_actions a.disabled,table td.settings_plugin_svgtogcode_profiles_actions a.disabled{color:#ccc;cursor:default}
.slider_manual_input {
	margin-left: 1.5em;
	width: 2.5em;
}

#settings_dialog.container { width: 100%; }

.calibration_step {
	display: none;
}

.calibration_step.active {
	display: block;
}

#gcode_reference .gcommand {
	font-weight: bold;
}
#gcode_reference .example {
	font-style: italic;
}

#gcode_reference ul {
	margin-left: 0;
	max-height: 60vh;
	overflow: auto;
}
#gcode_reference ul li {
	list-style: none;
	margin-bottom: 1em;
}

.svgtogcode_grayscale {
	background-image: linear-gradient(90deg, #FFFFFF, #000000);
	width:220px;
	display: inline-block;
}

.img_intensity_input {
	width: 3.5em;
}

svg text {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	cursor: default;
	pointer-events: none;

}

svg circle.ft_handle {
    fill-opacity: 0.7;
    stroke: #ff0000;
    stroke-width: 2.5px;
    fill: #fff;
    vector-effect: non-scaling-stroke;
}
svg rect.ft_bbox_transformed {
    stroke: #ff0000;
    stroke-width: 2.5px;
    vector-effect: non-scaling-stroke;
	stroke-dasharray: 5,5;
	fill-opacity: 0.3;
    stroke-opacity: 1;
	fill: #999;
}

svg .vector_outline {
    vector-effect: non-scaling-stroke;
	stroke-width: 0.8;
}

.img_slider{
	margin-bottom: 24px;
}

.img_preprocessing_preview {
    background-size: 150px;
	display: inline-block;
	width: 150px;
	height: 150px;
}

.img_preprocessing_preview.after {
    position:relative;
}
.img_preprocessing_preview.after>div {
	position: absolute;
	top:0;
	left:0;
}

.img_preprocessing_preview.after .contrast,
.img_preprocessing_preview.after .sharpened,
.img_preprocessing_preview.after .sharpened_contrast {
	opacity: 0;
}

.photo_attribution {
	margin-bottom: 1em;
}
.photo_attribution a {
    color: #999;
    font-size: smaller;
}

#dialog_vector_graphics_conversion .hint {
	font-style: italic;
    font-size: smaller;
	margin-top: 4px;
	background-color: #fafafa;
}

#dialog_vector_graphics_conversion .hint .icon {
	font-size: large;
    padding-right: .5em;
}

#photo_preview {
	width: 400px;
	height: 300px;
	margin: auto;
}

.overrideSlider {
	margin-bottom: 8px;
}

.overrideSlider input {
	width:130px;
}
.overrideSlider span {
	padding-left: .6em;
}

.repeatGcode .btn-group {
	width: 145px;
}
.repeatGcode input, .repeatGcode button {
	width: 33%;
}

.repeatGcode input {
	margin-bottom:0;
	padding-left: 0;
	padding-right: 0;
	text-align: center;
}
.repeatGcode>span {
	padding-left: .6em;
}

.manual_position_input {
	padding-top: 12px;
}



input.decent_input {
	border: 1px solid transparent;
	box-shadow: none;

}

input.decent_input:focus,
input.decent_input:hover {
	border: 1px solid gray;
}

#manual_position {
	max-width: 10em;
}

#manual_position.warning {
	color: #e25303;
}

#settings_svg_conversion input[type=number] {
	max-width: 6em;
}

#webcam_wrapper {
	position:absolute;
	top:1px;
	left:1px;
	overflow: hidden;
}

#webcam_wrapper_settings {
	overflow: hidden;
	border:	1px solid #999;
	position: absolute;
	top:0;
}

#camera_calibration_parameter_wrapper {
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
	position:absolute;
	top:0;
}

#camera_calibration_parameter {
	margin: 10%;
	background-color: rgba(255,255,255,0.8);
	padding: 0% 10%;
}

.camCalib {
	width: 48%;
	display: inline-block;
}

.form-horizontal .camCalib .controls {
    margin-left: 60%;
}
.form-horizontal .camCalib .control-label {
    width: 48%;
}

#beamcam_image {
	position:absolute;
	user-select: none;
	filter: brightness(200%) contrast(70%);
	-webkit-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	-moz-user-select: none;

}

#beamcam_image.broken {
	visibility: hidden;
}

svg#area_preview {
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select:none;
	-o-user-select:none;
	-ms-user-select:none;
}

#dialog_vector_graphics_conversion {
    width: 96%;
    margin-left: -48%;
}

#color_assignment:after {
    display: table;
    line-height: 0;
    content: "";
	clear: both;
}


#color_list { margin:0; }

#color_list li.material_color_entry {
    width: 60px;
    height: 60px;
	margin: 0 .5em .5em 0;
    display: none;
    /*border: 1px solid #ddd;*/
    cursor: pointer;
	transition: width .1s ease-in-out;
	display: inline-block;
}
#color_list li.material_color_entry.active {
	/*transform: scale(1.25) !important;*/
	width: 200px !important;
}
#color_list li.material_color_entry:hover {
	/*transform: scale(1.25);*/

}

#material_row .hover_shadow {
    box-shadow: 1px 1px 2px #383e42;
	transition: box-shadow .1s ease-in-out;
}
#material_row .hover_shadow:hover { 
    box-shadow: 2px 2px 4px #383e42;
}

.job_row {
    margin-bottom: 1em;
    border-bottom: 1px solid #999;
    padding-bottom: 1em;
	display: flex;
}

h4.job_title{
	margin-top: 0px;
	margin-bottom: 1em;
}

.job_row input {
    max-width: 35%;
}

.job_row .form-horizontal .control-group {
    margin-bottom: 5px;
}

.used_color {
    width: 48px;
    height: 48px;
    overflow: hidden;
    display: inline-block;
    border-radius: 5%;
    /* border: 1px solid #999; */
    box-shadow: 2px 2px 4px 2px rgba(0,0,0,0.33);
    margin: 4px;
	background-image: url(/plugin/mrbeam/static/img/line_overlay.svg);
	background-size: cover;
	background-position: center;
}

.img_drop_zone,
.color_drop_zone {
	min-height: 50px;
	width: 100%;
	border: 2px dashed transparent;
}

/* state machine. either img or vector color drop zone highlightning*/
#no_job .color_drop_zone.hover,
body.colorDragInProgress #engrave_job .img_drop_zone.hover,
body.vectorDrag .job_row_vector .color_drop_zone.hover,
body.vectorDrag .color_drop_zone.create_job.hover {
    font-weight: 700;
	border-color: rgba(0,0,0,0.33);
	transition: border-color ease-in 0.5s;
}

.color_drop_zone.create_job {
	text-align: center;
    padding: 1em 0;
    min-height: auto;
}

#cd_engraving {
/*	background: linear-gradient(135deg,
				rgba(255, 0, 0, 1) 0%,
				rgba(255, 255, 0, 1) 35%,
				rgba(0, 255, 0, 1) 50%,
				rgba(0, 255, 255, 1) 65%,
				rgba(0, 0, 255, 1) 100%
				);*/
	background-image: url(/plugin/mrbeam/static/img/img_and_fills2.svg);
}

body.colorDragInProgress #drop_overlay {
	display: none;
}

/* eye candy for gcode generation */
#userContent path,
#userContent circle,
#userContent ellipse,
#userContent line,
#userContent polygon,
#userContent polyline,
#userContent rect{
	transition-property: stroke-dashoffset;
	transition-duration: .5s;
	transition-timing-function: linear;
}

#crosshair path,
#crosshair circle {
	stroke:#e25303;
	stroke-width:2;
	stroke-linecap:round;
	stroke-linejoin:round;
	stroke-miterlimit:4;
	stroke-dasharray:none;
	stroke-dashoffset:0;
	stroke-opacity:1;
}

.checkInput {
	border-color: red !important;

}

.full-tab-height {
	height: calc(100vh - 140px);
	max-height: none;
}

.dimDesigns .userSVG,
.dimDesigns .userIMG,
.dimDesigns .userText {
	/*opacity:.5;*/
	/*filter:url(#dehighlight);*/
	stroke-width: 1;
	transition: stroke-width 0.2s ease-out;
}

.userSvg, .userText, .userIMG,
.dimDesigns .userSVG.designHighlight,
.dimDesigns .userIMG.designHighlight,
.dimDesigns .userSVG .vector_outline,
.dimDesigns .userText.designHighlight {
	/*opacity:1;*/
	stroke-width: 3px !important;
	filter:none;
}

.highlightMarker {
	stroke-width: 1px;
	stroke-dasharray: 3, 9;
	stroke:#e25303;
	vector-effect: non-scaling-stroke;
	fill:none;
	animation: drawdash 1s linear normal infinite;
	stroke-dashoffset: 0;
}

@keyframes drawdash {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 12;
  }
}

svg#area_preview path,
svg#area_preview circle,
svg#area_preview line,
svg#area_preview polyline,
svg#area_preview polygon,
svg#area_preview ellipse,
svg#area_preview rect
{
  vector-effect: non-scaling-stroke !important;
  stroke-width: 1px !important;
}

#zoomFactor {
	position:absolute;
	left: .3em;
	bottom: .4em;
	color: #777;
}

.freeTransformHandle{
	fill: rgba(255,255,255,0.3);
	stroke: #e25303;
	stroke-width: 1px;
}

.modal_dialog_headline h3 {
	padding: 9px 15px;
	border-top: 1px solid #383e42;	
	border-bottom: 1px solid #383e42;
    margin: 0;
    line-height: 30px;	
}

#color_assignment.inactive {
    opacity: .3;
    filter: blur(2px);
    pointer-events: none;
}

#material_list {
	margin: 0;
	max-height: 55vh;
	overflow: auto;
}
.material_entry {
	display: none;
	width: 200px;
	height: 100px;
	float: left;
	margin: 0 .5em .5em 0;
	background-size: cover;
	position: relative;
	cursor: pointer;
}

#material_type .material_entry.selected { 
	display: block;     
	height: 60px;
    background-position: center;
}
#material_type.active .material_entry {	display: block; }

li.material_entry span {
    position: absolute;
    top: 0;
    background-color: rgba(255,255,255,.85);
    display: block;
    width: 100%;
    left: 0;
    padding: 3px 8px;
    box-sizing: border-box;
}

#thickness_list{
	width: 200px;
}


.thickness_sample {
    display: inline-block;
    border: 0.25mm solid #999;
    border-left-color: transparent;
    width: 100%;
    background-image: url(/plugin/mrbeam/static/img/pattern_stripes.png);
    background-size: 39%;
    margin-bottom: 1em;
    text-align: center;
    height: 0;
    line-height: 0;
    text-shadow: 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff;
	cursor: pointer;
}
.thickness_sample:hover, .thickness_sample.active {font-weight: bold; }

#material_row {
	width: 100%;
	overflow-x: hidden;
	position: relative;
	height: calc(100px + 2em);
	transition: height .3s ease-in-out;
}
#material_row.expanded {
	height: 32vh;
}

#material_type, #material_color, #material_thickness {
	width: 20%;
	display: inline-block;
	box-sizing: border-box;
	position: absolute;
	transition: margin-left .1s ease-in;
	background-color: #fff;
}
#material_type.active { width: 100%; }
#material_type { width: calc(200px + 2em); }

#material_color, #material_thickness { margin-left: 100%; }
#material_color.active { 
	margin-left: calc(200px + 6em); 
	width: calc(100% - 200px - 3em);
}
#material_thickness.active { margin-left:  calc(2 * (200px + 6em)); }

#material_thickness .engrave_only {
    border-bottom: transparent;
    padding: 2em 0;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%), url(/plugin/mrbeam/static/img/pattern_stripes.png);
    background-size: cover, contain;
    border-top: 1px solid #e25303;
}

.misfit_warning i {
	color: #e25303;
}

#dialog_vector_graphics_conversion .modal-body {
  /*min-height: 65vh;*/
}

.calibration_manual.text {
    width: 48%;
	margin-bottom: 2em;
}
.calibration_manual.img {
    width: 48%;
    padding-top: 32%;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 1em;
}

.marker_selection_desc {
	margin-top: 1em;
	margin-bottom: 2em;
}

.cal-arrow{
	width: 0.8em;
    height: 0.8em;
    background-image: url(/plugin/mrbeam/static/img/cal_marker.svg);
    border: 0px transparent;
    background-repeat: no-repeat;
    background-color: white;
    background-size: contain;
	display: inline-block;
	background-position: center;
}

.cal-row { display: none; font-size: 1.5rem; }
.cal-row.active { display: block; }
.complete .cal-row { display: block !important; font-size: 1rem;}

#NE .cal-arrow { transform: scale(-1,1); }
#SE .cal-arrow { transform: scale(-1,-1); }
#SW .cal-arrow { transform: scale(1,-1); }

.calibration_click_indicator {
	stroke: #ffffff;
	stroke-width: 1;
	fill:none;
}

.marker_found_indicator {
	color: #DDD;
	display: inline-block;
    padding: 0 .5em;
}
.marker_found_indicator.active { color: #000; }

.marker_debug_image{
    margin-right: 20px;
    margin-bottom: 20px;
    border: 1px;
    border-style: solid;
    border-color: black;
    height: 45vh;
}

#debug_NW_img {
    position: fixed;
    top: 1vh;
    left: 1vw;
}
#debug_NE_img {
    position: fixed;
    top: 1vh;
    right: 1vw;
}
#debug_SW_img {
    position: fixed;
    bottom: 1vh;
    left: 1vw;
}
#debug_SE_img {
    position: fixed;
    bottom: 1vh;
    right: 1vw;
}

