/* 
    Created on : May 18, 2020, 9:07:36 PM
    Author     : teja
*/

.workingarea {
	border: 1px solid black;
	height: 80vh;
	width: auto;
	position: relative;
}

.workingarea .laserpos {
	position: absolute;
	right: 0.5em;
	bottom: 0.3em;
	color: #999;
}

.workingarea .laser_btn{
	position: absolute;
	right: 0.5em;
	top: 0.3em;
}


/* TODO ... don't use :hover ... tablets!
.file_list_entry .action-buttons,
.file_list_entry .uploaded,
.file_list_entry .size {
	display: none;
}

.file_list_entry:hover .action-buttons,
.file_list_entry:hover .uploaded,
.file_list_entry:hover .size  {
	display: block;
}
*/

#wa_filelist .file_list_entry {
	border-bottom: 1px dotted lightgray;
	margin-bottom: 1em;
	user-select: none;
}
#wa_filelist .file_list_entry .title {
	max-width: 80%;
	text-overflow: ellipsis;
	overflow: hidden;
	cursor: default;
	user-select: none;
}
#wa_filelist .file_list_entry .detail_information {
	clear: both;
}
#wa_filelist .file_list_entry .local_transformation span {
	margin-left:0em;
	margin-right:.8em;
}

#wa_filelist .detail_information,
#wa_filelist .detail_information input.decent_input {
	font-size: 0.8rem;
}
#wa_filelist .detail_information input {
	width: calc(30% - 1em);
	box-sizing: border-box;
	padding-left: 0.2em;
    padding-top: 0;
    padding-bottom: 0;
    height: 1.3em;
    margin-bottom: 0.2em;
}
#wa_filelist .detail_information input.wide {
	width: calc(37% - 1em);
}

#wa_filelist .file_list_entry .dropdown {
	display: inline-block;
}
#wa_filelist .file_list_entry .dropdown li {
	padding: 0 0.7em;
	color: #555;
}
#wa_filelist .file_list_entry .dropdown li i { color: #e25303 }

#wa_filelist .misfit_warning {
	display: none;
}
#wa_filelist .misfit .misfit_warning {
	display: block;
}

#wa_filelist .entry.mbtSelected .toggleTransformBtn {
	border: 1px solid #383e4245;
    background: #ececec;
}

#wa_filelist .entry:not(.isTransformed) .transformResetBtn {
	display: none;
}

/* disabled. uses 100% cpu in the browser */
/*#crosshair {
    transition-property: transform;
	transition-timing-function: linear;
	transition-duration: 2s;
	transition-delay: 0s;
}*/


/** units mm or % **/
#working_area_files .entry.show_percent input.unit_mm, 
#working_area_files .entry input.unit_percent {
	display:none;
}
#working_area_files .entry input.unit_mm, 
#working_area_files .entry.show_percent input.unit_percent {
	display:inline-block;	
}
#wa_filelist .entry.show_percent .unit_toggler .mini_switch_trigger>div {
    right: 0.025em;
}

/** mirrored or not **/
#wa_filelist .entry.isMirrored .mirror_toggler .mini_switch_trigger>div {
    right: 0.025em;
}

/*** mini switch (used for toggling mm/% units and mirroring designs) ***/
#wa_filelist .mini_switch {
    cursor: pointer;
	user-select: none;
}
#wa_filelist .file_list_entry .local_transformation span.mini_switch_label {
	font-size: 0.75rem;
	color:#555;
	margin:0;
	display: inline-block;
	width: 2.1em;
	text-align: center;
}
#wa_filelist .file_list_entry .local_transformation span.mini_switch_label.mini_switch_trigger {
    display: inline-block;
    border-radius: 1em;
    border: 1px solid #ccc;
    width: 2em;
    height: 1em;
    background-color: #eee;
    margin: 0em 0em 0em;
    position: relative;
    font-size: 10px;
	top: 2px;
}
#wa_filelist .mini_switch_trigger>div {
    width: 1em;
    background-color: #e25303;
    border-radius: 50%;
    display: inline-block;
    height: 1em;
    position: absolute;
    bottom: 0%;
	right: 1em;
	transition: right 0.3s ease-in-out;
}
	

/** scale proportional **/
#working_area_files .entry .scale_prop_btn>i {pointer-events: none;}
#working_area_files .entry .scale_prop_btn:not(.scale_proportional)>i.icon-link,
#working_area_files .entry .scale_prop_btn.scale_proportional>i.icon-unlink { 
	display:none 
}
#working_area_files .entry .scale_prop_btn.scale_proportional>i.icon-link,
#working_area_files .entry .scale_prop_btn:not(.scale_proportional)>i.icon-unlink {
	display: inline;
}
#working_area_files .entry .btn-link.scale_prop_btn:hover {
	text-decoration: none;
	box-shadow: none;
}
#working_area_files .entry .scale_prop_btn:hover>i::before {
	text-decoration: none;
}
#working_area_files .entry .scale_prop_btn>i::before {
    transform: rotate(-45deg);
}

#working_area_files .entry {
	/*height: 30px;*/
	margin-bottom:.3em;
}

/* hack to avoid that the burger menu is pushed out of the viewable area.*/
#working_area_files .entry:last-of-type {
	margin-bottom: 162px;
}

#working_area_files .entry.designHighlight .title {
	font-weight: bold;
}

#wa_filelist>div {
	height: 50vh;
	overflow-y:auto;
}


/*
* === IMAGE PREPROCESSING  ACCORDION ===
*/
.working_area_image_preprocessing {
	margin-bottom: 0;
}

.working_area_image_preprocessing_heading {
	padding: 0;
	color: #999;
}

.working_area_image_preprocessing_sliders {
	margin-left: 18px;
}

.working_area_image_preprocessing_link > button.image-preprocessing-collapsible {
	outline: transparent;
	text-decoration: none;
	color: #555;
	padding: 0;
	/*margin: 0;*/
	white-space: nowrap;
	font-size: 0.8rem;
}

.working_area_image_preprocessing_link > button.collapsed:before {
	padding: 0;
	content: "\270f" !important;
	color: #999;
	display: inline-block;
	transform: rotate(-45deg);
}

.working_area_image_preprocessing_link > button:before {
	padding: 0;
	content: "\270f" !important;
	color: #999;
	display: inline-block;
	transform: rotate(45deg);
}

/*
* === WORKING AREA FOOTER ===
*/
.working_area_footer_text {
    font-size: 10px;
    color: darkgrey;
    margin: 0 0 0 30px;
}

/*
* === mbTransform styling ===
*/
body.mbtransform {
	cursor: crosshair;
}

#translateHandle {
	fill: #00000033;
	stroke: #00aaff;
	stroke-width: 2;
	stroke-dasharray: 5 5;
}

body.ctrlKey #translateHandle {
	fill:none;
}

#translateHandle_2 {
	fill: #ffffff33;
	stroke: #aaff00;
	stroke-width: 1;
	stroke-dasharray: 5 5;
}

.scaleHandle, #rotHandle {
	fill: #ffffff99;
	stroke: #00aaff;
	stroke-width: 2;	
}

#mbtransformHandleGroup { display:none; }
#mbtransformHandleGroup.active { display: block; }

/* hide scale and rotate handles while translating */
#mbtransformHandleGroup.active.translate .scaleHandle,  
#mbtransformHandleGroup.active.translate #rotHandle { 
	display: none; 
}

/* hide scale handles while rotating */
#mbtransformHandleGroup.active.rotate .scaleHandle { display: none; }
#mbtransformHandleGroup.active.rotate #rotHandle { display: block; }

/* hide rotate handle while scaling */
#mbtransformHandleGroup.active.scale .scaleHandle,
#mbtransformHandleGroup.active.scale #rotHandle {
	display: none;
}  

/* hide non-used scale handles while scaling */
#mbtransformHandleGroup.active.scale.scaleHandleNE #scaleHandleNE,
#mbtransformHandleGroup.active.scale.scaleHandleNW #scaleHandleNW,
#mbtransformHandleGroup.active.scale.scaleHandleSW #scaleHandleSW,
#mbtransformHandleGroup.active.scale.scaleHandleSE #scaleHandleSE,
#mbtransformHandleGroup.active.scale.scaleHandleNN #scaleHandleNN,
#mbtransformHandleGroup.active.scale.scaleHandleEE #scaleHandleEE,
#mbtransformHandleGroup.active.scale.scaleHandleSS #scaleHandleSS,
#mbtransformHandleGroup.active.scale.scaleHandleWW #scaleHandleWW { 
	/*display: block;*/ 
	display: none; 
}

#translateVis, #rotateVis, #scaleVis {
	display:none;
}

#mbtransformHandleGroup.visualize.translate #translateVis,
#mbtransformHandleGroup.visualize.rotate #rotateVis,
#mbtransformHandleGroup.visualize.scale #scaleVis { 
	display:block; 
}

#scaleVis.showX #scaleXVis, 
#scaleVis.showX #scaleXText, 
#scaleVis.showY #scaleYVis, 
#scaleVis.showY #scaleYText {
	display: block;
} 
#scaleVis #scaleXVis, 
#scaleVis #scaleXText, 
#scaleVis #scaleYVis, 
#scaleVis #scaleYText {
	display: none;
} 


.transformGuideline {
	fill: none;
	stroke: #5555ff;
	stroke-width: 1;
}

#translateVis text, #rotateVis text, #scaleVis text {
	font-family: DIN Pro, Roboto, Courier monospace;
	font-size: 9px;
	fill: #5555ff;
	stroke: none;
}
