/*
* === WELCOME & WHAT'S NEW DIALOGS ===
*/
#wizardTabs > li > a {
  pointer-events: none;
  cursor: default;
}

#wizard_dialog > .modal-header > h3 {
  margin-left: 15px;
}

.wizard-nav-list-past > a {
  background-color: white;
  color: black;
  text-shadow: none;
}

.wizard-nav-list-active > a {
  background-color: white;
  color: #e25303;
  text-shadow: none;
  font-weight: bold;
}

.wizard-nav-list-next > a {
  background-color: white;
  color: darkgrey;
  text-shadow: none;
}

.wizard-table {
  border-spacing: 20px 0;
  border-collapse: separate;
  margin: 0 0 30px -20px;
}

.wizard-table-caption {
  font-size: smaller;
  text-align: justify;
  line-height: 1.3em;
  vertical-align: top;
}

.wizard-table-comment {
  text-align: center;
  padding: 12px 0;
  vertical-align: top;
}

.wizard-mrb-orange-button {
  background: #e25303;
  border-radius: 5px;
  color: white;
  padding: 5px 30px;
}

.wizard-mrb-orange-button:hover {
  background: #a63e03;
  color: white;
  border-radius: 5px;
}

.wizard-mrb-orange-button:focus {
  background: #e25303;
  color: white;
  border-radius: 5px;
}

.wizard-centered-img {
  display: block;
  margin: 0 auto;
}

.wizard-big-img {
  width: 90%;
  margin: 25px 0;
}

.wizard-shadowed-img {
  box-shadow: rgba(0, 0, 0, 0.2) 1px 2.5px 6px 0;
}

/*
* === Welcome Dialog ===
*/

#wizard_welcome_wifi_config_btn {
  margin: 7px 0;
}

.welcome-wizard-end-row img {
  max-width: 45%;
}

.welcome-wizard-end-row {
  text-align: center;
}

.welcome-wizard-acl-form {
  margin: 20px 0;
}

.welcome-wizard-acl-input {
  background-color: #f9f9f9 !important;
  width: 220px;
  margin-left: 20px;
}

.welcome-wizard-acl-label {
  float: left;
  width: 135px;
  padding-top: 5px;
  text-align: right;
}

/* Analytics accordion */

input[type="radio"] {
  vertical-align: top;
}

.mb-0 > button.analytics-collapsible {
  outline: transparent;
  text-decoration: none;
}

.mb-0 > button.collapsed:before {
  content: "\f055";
}

.mb-0 > button:before {
  font-family: FontAwesome;
  content: "\f056";
  padding-right: 5px;
}

#analytics_what_we_save {
  padding-left: 15px;
  margin-left: 26px;
}

#analytics_initial_consent_radio {
  padding: 12px 0;
}

/*
* === What's new dialog ===
*/

#whatsnew_enjoy_this_experience {
  font-weight: bold;
  margin: 50px 0 0 170px;
}

/*
* === What's new dialog ===
*/
.beta-news-ds-use-case-grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1.4fr 0.3fr 0.8fr;
  width: 90%;
  margin: 20px 0 0 5px;
}

.beta-news-ds-info-grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 10fr;
  width: 90%;
  margin: 20px 0 0 5px;
}

.beta-news-ds-info-icon {
  transform: scaleY(0.7);
  -ms-transform: scaleY(0.7);
  -moz-transform: scaleY(0.7);
  -webkit-transform: scaleY(0.7);
  -o-transform: scaleY(0.7);
}

.beta-news-arrow {
  margin: auto;
  transform: rotate(180deg) scaleY(0.7);
  -ms-transform: rotate(180deg) scaleY(0.7);
  -moz-transform: rotate(180deg) scaleY(0.7);
  -webkit-transform: rotate(180deg) scaleY(0.7);
  -o-transform: rotate(180deg) scaleY(0.7);
  filter: invert(41%) sepia(50%) saturate(6758%) hue-rotate(12deg)
    brightness(99%) contrast(98%);
}

#ds_title_stars {
  height: 50px;
  filter: invert(41%) sepia(50%) saturate(6758%) hue-rotate(12deg)
    brightness(99%) contrast(98%);
}

/* Welcome wizard - start */

#wizard_firstrun_start {
  padding-bottom: 20px;
}

#wizard_firstrun_start img {
  margin-bottom: 30px;
}

#wizard_firstrun_start h4,
#wizard_firstrun_start p {
  padding-left: 20px;
  padding-right: 20px;
}

#wizard_firstrun_end div a:hover {
  text-decoration: none;
}

#wizard_firstrun_end .social_media_square_icons {
  font-size: 2.55em;
}

#wizard_firstrun_end h3 {
  color: #e25303;
}
/* Welcome wizard - end */
